<body>
    <div class="banner-expertise famille white">
        <div class="container">
            <h1>Entrepreneurs <br>&amp; Professions Libérales</h1>
        </div>
    </div>

    <div class="banner-intro-expertise blue">
        <div class="container-expertise">
            <div class="container-expertise-content">
                <div class="expertise-text">
                    <h3>Assister et soutenir l’entrepreneur pour faire face aux défis entrepreneuriaux</h3>
                    <p>AMAXAN effectue des diagnostics spécifiques aux professionnels pour proposer en interprofessionnalité : experts-comptables, notaires, avocats, assureurs, banquiers, des solutions personnalisées.</p>
                    <p>Déterminer, avant de faire un choix de structure, quel sera le mode de rémunération entre salaires, dividendes et avantages en nature ou quel panachage, car cela aura une incidence directe sur le régime fiscal et social de l’entrepreneur et la structure de l’entreprise.</p>
                    <p>Choisir la structure adéquate : Entreprise Individuelle - SEL - SCI - SCP - SARL - SCEA - EARL - SAS - SA… chaque cadre juridique apporte une solution adaptée à chaque entrepreneur.</p>

                    <h3>La Trésorerie</h3>
                    <p>Placer pour sécuriser et valoriser la trésorerie excédentaire de l’entreprise par des comptes à terme bancaires, des produits financiers structurés sécurisés, des contrats de capitalisation, des SICAV de trésorerie, des comptes titres gérés sous mandat, etc.</p>

                    <h3>L’Immobilier d’entreprise</h3>
                    <p>L’importance de ce poste peut apporter une source d’enrichissement non négligeable à son dirigeant à condition de bien choisir le mode de détention. Achat en nom propre, au sein de son entreprise ou dans une enveloppe sociétale du type SARL ou SCI.</p>
                    <p>L’investissement en immobilier d’entreprise doit faire l’objet d’une analyse préalable exhaustive en matière de risque entrepreneurial, d’impact patrimonial, d’optimisation fiscale, et d’équilibre financier.</p>

                    <h3>Motiver ses salariés</h3>
                    <p>Un outil exceptionnel est mis à disposition du chef d’entreprise et de ses salariés pour accueillir les fruits d’un contrat d’intéressement et de participation : le PLAN D’ÉPARGNE D’ENTREPRISE (PEE).</p>

                    <h3>Le Plan Épargne Entreprise (PEE) depuis 2023</h3>
                    <ul class="list">
                        <li>Percevoir des primes et des abondements par l’entreprise sur un PEE ou PERCO avec une fiscalité réduite de la CSG à 9,70 % pour les salariés et au forfait social à 20 % pour l’entreprise.</li>
                        <li>Défiscaliser au terme des 5 années en supportant uniquement les prélèvements sociaux pour les salariés.</li>
                        <li>Sortir en capital ou en rente défiscalisée totale ou partielle grâce aux nombreuses exceptions.</li>
                        <li>Effectuer des arbitrages à l’intérieur du plan sans supporter l’impôt.</li>
                        <li>Bénéficier de plafonds d’abondements annuels élevés.</li>
                        <li>Supporter des frais compétitifs.</li>
                        <li>Les salariés peuvent détenir autant de PEE qui leur ont été ouverts et les transférer.</li>
                        <li>Si l’effectif de l’entreprise ne dépasse pas 250 salariés, son dirigeant peut également bénéficier du PEE, quel que soit son statut.</li>
                        <li>L’époux ou le partenaire de PACS du dirigeant peut aussi bénéficier du PEE s’il a le statut de conjoint collaborateur ou de conjoint associé.</li>
                        <li>Le PEE sera un excellent support pour valoriser son épargne et sa retraite grâce aux nombreuses options de gestion.</li>
                    </ul>

                    <div class="clear">
                        <h3>Organiser votre prévoyance et votre retraite par le dispositif Madelin et la mutuelle santé en cas d’accident de la vie :</h3>
                        <ul class="list">
                            <li>Prévoyance homme clé</li>
                            <li>Indemnités de fin de carrière</li>
                            <li>Garanties associées</li>
                            <li>Augmenter la part du conjoint survivant</li>
                            <li>Souscrire une rente éducation</li>
                            <li>Analyser les prévoyances en place : indemnités journalières, assurance décès, complémentaire santé, etc.</li>
                            <li>Mettre en place un mandat à effet posthume et un mandat de protection future</li>
                            <li>Garantir un capital en phase de croissance de la société par la mise en place d’une stratégie du couple prévoyance décès/assurance-vie</li>
                            <li>Calculer les droits à la retraite et préparer un complément de revenus.</li>
                        </ul>
                    </div>

                    <div class="clear">
                        <h3>Transmettre</h3>
                        <ul>
                            <li>Mettre en place un pacte Dutreil pour bénéficier d’un abattement de 75 % sur la valeur des parts transmises et une réduction de 50 % des droits à payer si le donateur est âgé de moins de 70 ans au moment de la donation.</li>
                            <li>En cas de vente de l’entreprise, mettre en place une garantie de passif.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
