// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #070B81;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$blue-pastel: rgba(104, 132, 203, 1);
$blue-light-pastel: rgb(134, 165, 244);
$pink-pastel: rgba(206, 192, 202, 1);
