<!DOCTYPE html>
<body>
    <div class="banner-expertise white">
      <div class="container">
        <h1>Emprunter</h1>
      </div>
    </div>

    <div class="banner-intro-expertise blue">
        <div class="wrapper-expertise">
            <div class="container-expertise-content">
                <%= image_tag("chantier.jpg", alt: "chantier", id: "chantier") %>
                <div class="expertise-text">
                  <h3>AMAXAN bien plus qu’un courtier en crédit</h3>
                    <p>Le crédit est une expertise d’AMAXAN pour emprunter dans les meilleures conditions.</p>
                    <p>AMAXAN a fait le choix de ne pas avoir de mandat bancaire et ne pas demander de commissions d’apporteur au banquier.</p>
                    <p>Notre préférence pour le conseil permet d’être transparent. Une lettre de mission de recherche de capitaux est validée entre le client et AMAXAN pour rechercher et obtenir un crédit aux meilleurs conditions…pour le client, sans considération de montant.</p>

                    <p>Notre rôle de courtier ne s’arrête pas à la négociation des meilleures conditions d’emprunt.</p>
                    <p>Des options peuvent sécuriser votre engagement. Il est important de savoir déchiffrer les conditions particulières et les conditions générales de votre contrat de prêt et surtout des assurances obligatoires.</p>
                    <p>Mais le client oublie trop souvent qu’un crédit le lie à son banquier pour une longue période. De bonnes conditions financières peuvent parfois cacher des frais bien plus élevés entrainant des effets pervers qui peuvent surenchérir notoirement le coût du crédit.</p>
                    <p> Vous empruntez pour réaliser vos rêves nous veillerons à ne pas transformer vos rêves en cauchemar. Et ne pas oublier qu’un crédit est fait pour être remboursé !</p>
                </div>
            </div>
        </div>
    </div>


    <div class="title-faq">
      <div class="container">
        <h1>Quelques réponses à vos questions.</h1>
      </div>
    </div>

    <div class="wrapper">

      <div class="faq-container">


        <div class="faq">
          <button class="accordion">
            Les services bancaires augmentent-ils le coût du crédit ?
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <div class="pannel">
            <p>
              Le banquier est un commerçant qui évolue dans un milieu très concurrentiel.
              Quand un banquier accorde un crédit, il exige systématiquement l’ouverture d’un compte de dépôt. Il formulera des propositions avantageuses de placement sous forme de livrets, de plan d’épargne ou compte titres, assurance-vie, Per etc… ainsi que des services adjoints : Carte bancaire, assurances diverses : auto, habitation, accident de la vie etc.. et souvent avec des packages « four tout » dont une partie est inutile ou couteuse.
              Si les conditions de crédit sont contractualisées pour la durée du crédit, ces propositions de services sont révisables annuellement
              Ces exigences pourraient très vite peser lourdement, indirectement, sur le coût du crédit en commençant par les frais de gestion de compte.
            </p>
          </div>
        </div>

        <div class="faq">
          <button class="accordion">
            Pourquoi s'intéresser à l'effet de levier du crédit?
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <div class="pannel">
            <p>
              Sans attendre de disposer des fonds pour investir, les techniques bancaires offrent de larges possibilités pour se constituer rapidement un patrimoine tout en se protégeant.
              L’effet de levier du crédit est unique pour s’enrichir en empruntant . C’est un axe indispensable des stratégies patrimoniales et un excellent support de prévoyance.
            </p>
          </div>
        </div>

        <div class="faq">
          <button class="accordion">
            Qu'est-ce que l'effet de levier du crédit exactement?
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <div class="pannel">
            <p>
              C’est le différentiel entre le coût du crédit et la rentabilité du placement couplé avec la rentabilité de l’investissement immobilier.
              Cet effet de levier peut être décuplé grâce à une bonne utilisation des règles civiles et fiscales et la maitrise De la technique du crédit IN FINE.
              Un crédit IN FINE est un crédit avec des conditions analogues au crédit amortissable. Sauf que l’emprunteur ne paie que les intérêts et l’assurance sur
              le capital restant dû pendant toute la durée du crédit. Le capital est payé en une seule échéance au terme du crédit. Pour assurer le remboursement du capital au terme ,
              le banquier, pour se garantir, va exiger le nantissement d’un placement permettant ce remboursement. Ce sera la plupart des cas un contrat d’assurance-vie ou de capitalisation.
              Il peut également demander en plus des garanties classiques : hypothèque, IPPD (Inscription d’un Privilège de Prêteur de Deniers) ou une caution bancaire ou personnelle.
            </p>
          </div>
        </div>

        <div class="faq">
          <button class="accordion">
                Les avantages?
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <div class="pannel">
            <p>
              L’effet de levier du crédit consiste à utiliser l’endettement pour augmenter sa capacité d’investissement.
              Il permet de faire fructifier de l’argent que vous n’avez pas.
              L’effet de levier consiste à s’endetter pour pouvoir investir et générer un capital plus important que le montant de l’emprunt.
            </p>
          </div>
        </div>

        <div class="faq">
          <button class="accordion">
              Les inconvénients?
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <div class="pannel">
            <p>
              Cette technique exige une très bonne compréhension de l’opération.
              Respecter rigoureusement les règles de l’ingénierie patrimoniale et le suivi des risques.
              L’usage de l’effet de levier doit être absolument  maitrisé par l’opérateur dans toutes ses composantes avec une totale transparence : les coûts, la qualité de l’immobilier, la technique du crédit souvent sous forme IN FINE, la fiscalité des opérations, la nature du placement et sa gestion pendant la durée de l’opération.
              Maitriser les techniques du prêt IN FINE.
              Faire annuellement un point pour contrôler si l’opération est toujours conforme aux simulations.
              De préférence se faire accompagner par un expert patrimonial.
            </p>
          </div>
        </div>


      </div>

    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  var buttons = document.querySelectorAll(".faq button");

  buttons.forEach(function (button) {
    button.addEventListener("click", function () {
      var clickedButton = this;

      // Ferme toutes les questions ouvertes sauf celle cliquée
      buttons.forEach(function (btn) {
        if (btn !== clickedButton) {
          btn.classList.remove("opened");
          btn.nextElementSibling.style.display = "none";
        }
      });

      // Ajoute ou supprime la classe "opened" au bouton cliqué
      clickedButton.classList.toggle("opened");

      // Affiche ou cache la réponse de la question cliquée
      var panel = clickedButton.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  });

  // Fermez toutes les FAQ lors du chargement de la page
  buttons.forEach(function (button) {
    button.classList.remove("opened");
    button.nextElementSibling.style.display = "none";
  });
});


</script>


</body>
