<!DOCTYPE html>
<div class="banner-expertise placer white">
  <div class="container">
    <h1>Placer</h1>
  </div>
</div>

 <div class="banner-intro-expertise blue">
        <div class="wrapper-expertise">
            <div class="container-expertise-content">
                <%# <%= image_tag("buildings-purple.jpg", alt: "buildings-purple", id: "buildings-purple") %>
                <div class="expertise-text">
                <p>Pour bien choisir vos placements, considérez deux grandes catégories : financiers et immobiliers.</p>

                  <h3>Placements financiers</h3>
                  <p>Pour des objectifs à court terme, envisagez des options comme les livrets réglementés, les livrets bancaires non réglementés, les SICAV monétaires, ou les comptes à terme.</p>
                  <p>Pour des objectifs à plus long terme, AMAXAN recommande : l'assurance vie et capitalisation, les Plans d'épargne retraite (PER), Logement (PEL) ou actions (PEA).</p>

                  <h3>Placements immobiliers</h3>
                  <p>L'investissement immobilier en France offre des opportunités variées :
                  Envisager l'opportunité d'une Société Civile Immobilière (SCI) pour gérer son patrimoine</br>
                  Générer des déficits fonciers pour s'enrichir</br>
                  Bénéficier des réductions d'impôts Pinel, De Normandie, Malraux...</br>
                  Comparer la location nue et la location meublée</br>
                  </p>
                </div>
        </div>
    </div>
</div>


<div class="title-faq">
  <div class="container">
    <h1>Quelques réponses à vos questions.</h1>
  </div>
</div>

<div class="wrapper">

  <div class="faq-container">

    <div class="faq">
      <button class="accordion">
        Pourquoi et comment investir en actions ?
        <i class="fa-solid fa-chevron-down"></i>
      </button>
      <div class="pannel">

          <p><strong>Comparatif des différents indices sur 30 ans (1993-2023) pour différents placements</strong>
          <em>(Source: Le Revenu)</em> :</p>
          <ul class="list black">
            <li>Hausse des prix : +57%</li>
            <li>Livret A : +95%</li>
            <li>SICAV Monétaires : +97%</li>
            <li>Assurance vie en euros : +220%</li>
            <li>Immobilier à Paris : +241%</li>
            <li>Actions : +249%</li>
            <li>Or : +517%</li>
            <li>Actions avec dividendes réinvestis : +775%</li>
          </ul>


          <%# <p>Conseils d'investissement</p> %>
          <%# <p>
            Méfions-nous des précautions sémantiques qui disent qu’investir en actions présente un risque de perte
            en capital et qu’il faut investir qu’une toute petite partie de son capital.
          </p> %>
          <%# <p>Investir en action n’est pas plus risqué que l’immobilier pour celui qui connaît le prix à payer de
          cet investissement et qui s’engage à le respecter pendant toute la durée de son investissement.</br> %>
          <%# <br>
          Cependant, des mauvais choix et un manque de connaissances peuvent entraîner des pertes importantes irrécupérables.
          Il convient préalablement de déterminer sa capacité à accepter le risque de perte et de définir une stratégie.
          </p> %>

      </div>
    </div>

    <div class="faq">
      <button class="accordion">
        Comment limiter les risques de pertes et investir sereinement en actions ?
        <i class="fa-solid fa-chevron-down"></i>
      </button>
      <div class="pannel">
        <p>Voici les points clés :</p>
        <ul class="list black">
          <li>Investir à très long terme, 5 à 10 ans minimum</li>
          <li>Diversifier largement les valeurs ou supports d’investissement</li>
          <li>Coupler son investissement en actions avec des obligations et des fonds de trésorerie sur des indices larges</li>
          <li>Investir en actions, c’est accepter la volatilité et ne pas spéculer</li>
          <li>Limiter les frais au maximum !</li>
          <li>Pour plus de sérénité, optez pour des fonds structurés aux conditions pré définies par contrat</li>
          <li>Pensez à vous faire accompagner par un Conseiller Financier</li>
        </ul>
      </div>
    </div>

    <div class="faq">
      <button class="accordion">
        Quel est l’impact de la fiscalité ?
        <i class="fa-solid fa-chevron-down"></i>
      </button>
      <div class="pannel">
        <p>
          Avec un compte-titres ordinaire, les revenus de votre portefeuille sont imposables chaque année,
          que vous les perceviez ou les réinvestissiez. Ils sont soumis au prélèvement forfaitaire unique de 30 %,
          incluant 17,2 % de prélèvements sociaux, sauf option lors du dépôt de la déclaration de revenus l'année
          suivant leur perception pour une imposition au barème progressif de l'impôt sur le revenu.</br>
          <br>
          Même chose si vous revendez des titres ou des parts de sicav ou de fonds commun de placement, la plus-value est systématiquement soumise au prélèvement forfaitaire unique (PFU) de 30 %, même si vous réinvestissez immédiatement le prix de vente dans d'autres actifs comparables. Elle est également soumise au PFU de 30 %.
        </p>
      </div>
    </div>

    <div class="faq">
      <button class="accordion">
        Quels sont les différents supports de valeurs mobilières?
        <i class="fa-solid fa-chevron-down"></i>
      </button>
      <div class="pannel">
        <p>
        On peut acheter des  actions  sur les marchés financiers en direct ou dans le cadre d’un OPCVM : SICAV, FCP, ETF en les déposant dans un  compte titres ordinaire (CTO) – un PER (Plan d’Epargne Retraite) -  un PEA (Plan d’Epargne en Actions)- un Contrat de capitalisation ou plus couramment au sein de votre contrat d’assurance vie.
        </p>
      </div>
    </div>

    <div class="faq">
      <button class="accordion">
        Comment investir dans la finance durable ?
        <i class="fa-solid fa-chevron-down"></i>
      </button>
      <div class="pannel">
        <p>
          Les supports de placement en valeurs mobilières sont des véhicules privilégiés pour investir dans la finance solidaire et durable,
          les thématiques environnementales et climatiques sous forme de fonds ISR.
        </p>
        <p>
          Un choix très large de fonds permet de  choisir des entreprises et des fonds vertueux.
          Notre avis est précieux pour choisir le fonds ISR qui conviendra le mieux selon les profils de risques.
        </p>
      </div>
    </div>

  </div>

</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
var buttons = document.querySelectorAll(".faq button");

buttons.forEach(function (button) {
button.addEventListener("click", function () {
  var clickedButton = this;

  // Ferme toutes les questions ouvertes sauf celle cliquée
  buttons.forEach(function (btn) {
    if (btn !== clickedButton) {
      btn.classList.remove("opened");
      btn.nextElementSibling.style.display = "none";
    }
  });

  // Ajoute ou supprime la classe "opened" au bouton cliqué
  clickedButton.classList.toggle("opened");

  // Affiche ou cache la réponse de la question cliquée
  var panel = clickedButton.nextElementSibling;
  if (panel.style.display === "block") {
    panel.style.display = "none";
  } else {
    panel.style.display = "block";
  }
});
});

// Fermez toutes les FAQ lors du chargement de la page
buttons.forEach(function (button) {
button.classList.remove("opened");
button.nextElementSibling.style.display = "none";
});
});
</script>
