<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texte en HTML</title>
    <style>
        ul.list {
            list-style-type: none;
            padding-left: 0;
        }

        ul.list li {
            margin-bottom: 8px;
            clear: left;
        }

        ul.list li::before {
            content: '\25A0';
            font-size: 18px;
            margin-right: 10px;
        }

        .clear {
        clear: both;
    }
    </style>
</head>
<body>
    <div class="banner-expertise famille white">
        <div class="container">
            <h1>Famille</h1>
        </div>
    </div>

    <div class="banner-intro-expertise blue">
        <div class="container-expertise">
            <div class="container-expertise-content">
                <div class="expertise-text">
                    <h3>Un patrimoine bien protégé c’est une succession bien préparée.</h3>
                    <p>Tout au long du cycle de vie, ce thème est au cœur de nos stratégies patrimoniales.
                        L’évolution sociologique de la société, les circonstances familiales ne nous ont pas préparé à accepter et gérer des situations complexes, notamment en matière de recomposition familiale. Ces situations exigent une expertise d’organisation patrimoniale pour appréhender des rapports familiaux parfois conflictuels.
                        Notre approche transgénérationnelle et patrimoniale d’accompagnement, intègre dans nos préconisations les aléas familiaux possibles souvent dévastateurs sur la richesse du patrimoine s’ils n’ont pas suffisamment été pris en compte pour instaurer des rapports familiaux apaisés.
                    </p>
                    <h3>Nos conseils pour protéger votre famille et votre patrimoine :</h3>
                    <ul class="list">
                        <li>Faire un bilan patrimonial</li>
                        <li>Mettre en place un contrat de PACS ou un contrat de mariage adapté</li>
                        <li>Protéger le conjoint survivant par son droit au logement</li>
                        <li>Souscrire un ou plusieurs contrats d’assurance-vie</li>
                        <li>Souscrire une assurance décès pour favoriser ses héritiers, rééquilibrer une transmission</li>
                        <li>Auditer ses contrats d’assurances pour favoriser ses héritiers, rééquilibrer une transmission.</li>
                        <li>Renégocier les contrats d’assurance en cours pour les faire évoluer, maîtriser les coûts et supprimer les doublons</li>
                        <li>Démembrer son patrimoine pour optimiser les droits de succession.</li>
                        <li>Faire des donations renouvelables tous les 15 ans</li>
                        <li>Utiliser les dons manuels pour les enfants et petits enfants à hauteur de 31 865€</li>
                        <li>Penser au Pacte successoral pour mettre en place des libéralités</li>
                        <li>Établir un mandat à titre posthume et de protection future pour désigner de son vivant un mandataire pour administrer et gérer son patrimoine successoral.</li>
                        <li>Anticiper sa fin de vie en souscrivant une assurance dépendance, thésauriser pour ses obsèques ou souscrire un contrat obsèques.</li>
                        <li>Faire un testament</li>
                        <li>Prévoir un don d’organe (loi Cavaillet du 22/12/1976) Quelles démarches effectuées ?</li>
                    </ul>
                    <div class="clear">
                      <h3>Transmettre</h3>
                      <p>Les droits de succession peuvent obérer lourdement la valeur des patrimoines alors que le législateur a prévu tout un arsenal de dispositifs pour alléger leurs coûts sans se démunir tout en conservant voir améliorant l’enrichissement du donateur et des donataires.</p>
                      <p>Transmettre ou subir les pressions fiscales et familiales ? Une bonne gestion de son patrimoine passe par une bonne préparation successorale. Le patrimoine n’est pas létal, il survivra à son propriétaire. Organiser sa transmission et assurer sa prévoyance sera le gage d’une gestion patrimoniale réussie et optimisée.</p>

                      <h3>Protéger le conjoint survivant</h3>
                      <p>Si le conjoint survivant est exonéré de droit de succession, il n’est pas pour autant protégé de ses ayants droits. Des dispositions légales devront être engagées pour le protéger. Avec le vieillissement des populations, étudier une succession transgénérationnelle peut également avoir du sens. Nous vous confierons tous les outils pour une transmission sereine et réussie.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
