<!DOCTYPE html>
<nav class="footer">
  <div class="container-navbar">
    <%= link_to root_path do %>
      <%= image_tag("logo-amaxan-bleu.jpg", alt: "logo-amaxan-bleu", id: "logo-amaxan-bleu") %>
    <% end %>
    <div class="footer-links">
      <a href="https://fr.linkedin.com/in/andre-audibert-154a501a1"><i class="fab fa-linkedin"></i></a>
      <p>Téléphone : +33 6 43 83 18 04</p>
      <p>Email : <a href="mailto:andre.audibert@amaxan.fr">andre.audibert@amaxan.fr</a></p>
    </div>
  </div>
</nav>
