<nav class="footer">
  <div class="container-navbar">
    <%= link_to root_path do %>
      <%= image_tag("logo-amaxan-bleu.png", alt: "logo-amaxan-bleu", id: "logo-amaxan-bleu") %>
    <% end %>
    <div class="footer-links">
    <a href="https://fr.linkedin.com/in/andre-audibert-154a501a1"><i class="fab fa-linkedin"></i></a>
  </div>
  </div>
</nav>
