<nav class="navbar">
  <div class="container-navbar">
    <%= link_to root_path do %>
      <%= image_tag("logo-amaxan-bleu.jpg", alt: "logo-amaxan-bleu", id: "logo-amaxan-bleu") %>
    <% end %>
    <ul class="desktop-menu">
      <!-- Place your desktop menu items here -->
      <%# <li><a href="mailto:andre.audibert@amaxan.fr">andre.audibert@amaxan.fr</a></li> %>
      <li><%= link_to "Mentions Légales", mentions_legales_path %></li>
      <li><%= link_to "Cookies", cookies_path %></li>
    </ul>
  </div>
</nav>
