<div class="navbar sticky-top">
  <div class="container-navbar">
    <%= image_tag("logo-amaxan.png", alt: "logo-amaxan", id: "logo-amaxan") %>
    <nav>
      <ul>
        <li><a href="#">A Propos</a></li>
        <li class="dropdown">
          <a href="#">Expertises</a>
          <ul class="dropdown-menu">
            <li><a href="#">Famille</a></li>
            <li><a href="#">Entreprendre</a></li>
            <li><a href="#">Assistance Administrative</a></li>
            <li><a href="#">Placer</a></li>
            <li><a href="#">Emprunter</a></li>
            <li><a href="#">Fiscalité</a></li>
          </ul>
        </li>
        <li><a href="#">Méthodologie</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
