<div class="navbar navbar-expand-sm navbar-light sticky-top">
  <div class="container-fluid">
      <h1 id="logo-amaxan">AMAXAN</h1>
    <%# <%= link_to "#", class: "navbar-brand" do %>
       <%# <%= image_tag "logo-amaxan.png", id: "logo-amaxan", alt: "Logo Amaxan"%>
    <%# <% end %>
    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">A Propos</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Expertises <!-- Le libellé du menu déroulant -->
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- Liens du menu déroulant -->
          <a class="dropdown-item" href="#">Famille</a>
          <a class="dropdown-item" href="#">Entreprendre</a>
          <a class="dropdown-item" href="#">Assistance Administrative</a>
          <a class="dropdown-item" href="#">Placer<a>
          <a class="dropdown-item" href="#">Emprunter</a>
          <a class="dropdown-item" href="#">Fiscalité</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Méthodologie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
  </div>
</div>
