<%# <div class="banner banner-beige banner-conseil blue">
  <div class="container">
   <h1 class="title">Notre Vision.</h1>
    <div class="container-conseils">
      <div class="container-conseils-top">
        <div class="conseil">

            <div class="conseil-text">
             <strong>AMAXAN</strong> est dirigé par André AUDIBERT, Conseil en gestion de patrimoine et Conseil en Investissements Financiers,
            titulaire d’un Master en Gestion de patrimoine (AUREP) et d'un Diplôme supérieur de Banque (ITB).
            Professionnel de vos intérêts depuis 1994, je bâtis pour chaque client une stratégie sur mesure.
            Je leur propose des placements et des solutions pour résister aux aléas économique et fiscaux.
            Je surveille leur évolution et les informe régulièrement.<br>
            </br>
            <strong>AMAXAN</strong> se positionne comme un "maître d’œuvre" à forte valeur ajoutée qui
            s’adresse à une clientèle exigeante qui ne trouve plus de solutions,
            de conseils ni de suivi auprès de leurs interlocuteurs habituels.<br>
            </br>
            Fédérateur de métiers complémentaires, <strong>AMAXAN</strong> s’adresse à vous, quel que soit votre surface patrimoniale, pour
            répondre soit à une problématique ponctuelle touchant un élément de votre patrimoine,
            de sa fiscalité ou plus largement pour mettre en place avec vous une stratégie globale d’enrichissement.
            Véritable service administratif de vos intérêts, nous optimiserons votre temps et la valeur de votre patrimoine.
            </div>
          </div>
        </div>
      </div>
     </div>
</div> %>


<div class="banner-intro-expertise banner-beige banner-conseil blue">
     <div class="container">
      <h1 class="title">Notre Vision.</h1>
        <div class="wrapper-expertise">
            <div class="container-expertise-content">
                <%= image_tag("andre.jpg", alt: "chantier", id: "chantier") %>
               <div class="expertise-text">
                Je suis André AUDIBERT, à la tête d'<strong>AMAXAN</strong>, en tant que Conseil en gestion de patrimoine et Conseil en Investissements Financiers, mettant mon expertise à votre service depuis 1994. Je construis des stratégies personnalisées, offrant des placements et des solutions pour faire face aux aléas économiques et fiscaux.<br>
                </br>
                <strong>AMAXAN</strong> se positionne comme un "maître d’œuvre" s'adressant à une clientèle exigeante, offrant des solutions, des conseils, et un suivi hors pair.<br>
                 </br>
                Fédérateur de métiers complémentaires, <strong>AMAXAN</strong> s’adresse à vous, quel que soit votre patrimoine. Nous répondons à vos besoins spécifiques, que ce soit une problématique ponctuelle touchant un élément de votre patrimoine, de sa fiscalité, ou une stratégie globale d’enrichissement.<br>En tant que service administratif de vos intérêts, nous optimiserons votre temps et la valeur de votre patrimoine.<br>
                 </br>
                Grâce à notre expertise, nous vous guidons dans le choix des meilleurs placements, vous aidons à optimiser votre fiscalité et vous accompagnons tout au long de votre parcours financier. Avec <strong>AMAXAN</strong>, vous avez un partenaire de confiance travaillant activement pour la croissance et la protection de votre patrimoine.
                 </br>
                Découvrez comment nous pouvons maximiser vos rendements, minimiser vos risques et vous guider vers des choix financiers judicieux.<br>
                Contactez-nous aujourd'hui pour une consultation personnalisée.
            </div>
            </div>
        </div>
    </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function () {
  var visionTitle = document.querySelector(".vision-title");
  var windowHeight = window.innerHeight;

  function handleScroll() {
    var rect = visionTitle.getBoundingClientRect();
    var titleHeight = visionTitle.offsetHeight;

    if (rect.top <= windowHeight / 2 && rect.bottom >= windowHeight / 2) {
      // Le titre est à mi-chemin de la fenêtre.
      visionTitle.style.transform = 'translateX(0)';
      visionTitle.style.opacity = 1;
      window.removeEventListener('scroll', handleScroll);
    }
  }

  // Styles initiaux pour le titre (caché au départ).
  visionTitle.style.transform = 'translateX(-100%)';
  visionTitle.style.opacity = 0;

  // Ajoute un écouteur d'événement de défilement pour appeler la fonction "handleScroll" à chaque défilement.
  window.addEventListener('scroll', handleScroll);

  // Déclencher immédiatement si le titre est déjà visible (par exemple, si la page est rechargée en position de défilement au milieu du titre).
  if (window.scrollY + windowHeight / 2 >= visionTitle.getBoundingClientRect().top) {
    handleScroll();
  }
});

// Cette fonction calcule et définit la hauteur de la page en fonction de la hauteur du contenu.
function setPageHeight() {
  var windowHeight = window.innerHeight;
  var contentHeight = document.querySelector(".container-expertise-content").offsetHeight;
  var banner = document.querySelector(".banner-apropos");

  // Définir la hauteur de la page sur la hauteur du contenu.
  if (contentHeight > windowHeight) {
    banner.style.height = contentHeight + "px";
  } else {
    banner.style.height = windowHeight + "px";
  }
}

// Appeler la fonction lorsque le DOM est prêt.
document.addEventListener("DOMContentLoaded", function () {
  setPageHeight();

  // Ajouter un écouteur d'événement de redimensionnement pour recalculer la hauteur de la page en cas de redimensionnement de la fenêtre.
  window.addEventListener("resize", setPageHeight);
});

</script>
