<!-- Default HTML for larger screens -->
<div class="banner banner-beige banner-apropos blue">
  <div class="container">
      <h1>Notre Vision.</h1>
      <div class="container-apropos-content">
          <div class="apropos-text-large-screen">
            <strong>AMAXAN</strong> est dirigé par André AUDIBERT, Conseil en gestion de patrimoine et Conseil en Investissements Financiers,
            titulaire d’un Master en Gestion de patrimoine (AUREP) et d'un Diplôme supérieur de Banque (ITB).
            Je suis un professionnel de vos intérêts depuis 1994, je bâtis pour chaque client une stratégie sur mesure.
            Je leur propose des placements et des solutions pour résister aux aléas économique et fiscaux.
            Je surveille leur évolution et les informe régulièrement.<br>
            </br>
            <strong>AMAXAN</strong> se positionne comme un maitre d’œuvre à forte valeur ajoutée qui
            s’adresse à une clientèle exigeante qui ne trouvent plus de solutions,
            de conseils ni de suivi auprès de leur interlocuteurs habituels: banques, gestion privée, courtiers, etc. <br>
            </br>
            Fédérateurs de métiers complémentaires, <strong>AMAXAN</strong> s’adresse à tous quel que soit la surface patrimoniale pour
            répondre soit à une problématique ponctuelle touchant un élément de son patrimoine,
            de sa fiscalité ou plus largement pour mettre en place une stratégie globale d’enrichissement.
            Véritable service administratif de vos intérêts, nous optimiserons votre temps et la valeur de votre patrimoine.
          </div>
          <div class="apropos-text-small-screen">
            <strong>AMAXAN</strong> est dirigé par André AUDIBERT, Conseil en gestion de patrimoine et Conseil en Investissements Financiers,
            titulaire d’un Master en Gestion de patrimoine (AUREP)
            et d'un Diplôme supérieur de Banque (ITB). Je suis un professionnel de vos intérêts depuis 1994,
            bâtissant des stratégies sur mesure, proposant des placements et des solutions face aux aléas économiques et fiscaux.<br>
            </br>
            <strong>AMAXAN</strong> s’adresse à une clientèle exigeante en tant que maître d’œuvre à forte valeur ajoutée,
            répondant aux problématiques patrimoniales, fiscales et d'enrichissement. Optimisant votre temps et la valeur de votre patrimoine.
          </div>
          <div class="image-container-large-screen">
            <%= image_tag("andre-henri-audibert.png", alt: "andre-henri-audibert", id: "andre-henri-audibert") %>
          </div>
    </div>
  </div>
</div>

<div class="image-container-small-screen">
  <%= image_tag("andre-henri-audibert.png", alt: "andre-henri-audibert", id: "andre-henri-audibert") %>
</div>
