
<div class="banner banner-beige banner-apropos blue">
  <div class="wrapper-expertise">
      <h1>Notre Vision.</h1>
      <div class="container-expertise-content">
          <%= image_tag("chantier.jpg", alt: "chantier", id: "chantier") %>
          <div class="expertise-text">
            <strong>AMAXAN</strong> est dirigé par André AUDIBERT, Conseil en gestion de patrimoine et Conseil en Investissements Financiers,
            titulaire d’un Master en Gestion de patrimoine (AUREP) et d'un Diplôme supérieur de Banque (ITB).
            Je suis un professionnel de vos intérêts depuis 1994, je bâtis pour chaque client une stratégie sur mesure.
            Je leur propose des placements et des solutions pour résister aux aléas économique et fiscaux.
            Je surveille leur évolution et les informe régulièrement.<br>
            </br>
            <strong>AMAXAN</strong> se positionne comme un maitre d’œuvre à forte valeur ajoutée qui
            s’adresse à une clientèle exigeante qui ne trouvent plus de solutions,
            de conseils ni de suivi auprès de leur interlocuteurs habituels<br>
            </br>
            Fédérateurs de métiers complémentaires, <strong>AMAXAN</strong> s’adresse à tous quel que soit la surface patrimoniale pour
            répondre soit à une problématique ponctuelle touchant un élément de son patrimoine,
            de sa fiscalité ou plus largement pour mettre en place une stratégie globale d’enrichissement.
            Véritable service administratif de vos intérêts, nous optimiserons votre temps et la valeur de votre patrimoine.
          </div>
      </div>
  </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function () {
  var visionTitle = document.querySelector(".vision-title");
  var windowHeight = window.innerHeight;

  function handleScroll() {
    var rect = visionTitle.getBoundingClientRect();
    var titleHeight = visionTitle.offsetHeight;

    if (rect.top <= windowHeight / 2 && rect.bottom >= windowHeight / 2) {
      // Le titre est à mi-chemin de la fenêtre.
      visionTitle.style.transform = 'translateX(0)';
      visionTitle.style.opacity = 1;
      window.removeEventListener('scroll', handleScroll);
    }
  }

  // Styles initiaux pour le titre (caché au départ).
  visionTitle.style.transform = 'translateX(-100%)';
  visionTitle.style.opacity = 0;

  // Ajoute un écouteur d'événement de défilement pour appeler la fonction "handleScroll" à chaque défilement.
  window.addEventListener('scroll', handleScroll);

  // Déclencher immédiatement si le titre est déjà visible (par exemple, si la page est rechargée en position de défilement au milieu du titre).
  if (window.scrollY + windowHeight / 2 >= visionTitle.getBoundingClientRect().top) {
    handleScroll();
  }
});

// Cette fonction calcule et définit la hauteur de la page en fonction de la hauteur du contenu.
function setPageHeight() {
  var windowHeight = window.innerHeight;
  var contentHeight = document.querySelector(".container-expertise-content").offsetHeight;
  var banner = document.querySelector(".banner-apropos");

  // Définir la hauteur de la page sur la hauteur du contenu.
  if (contentHeight > windowHeight) {
    banner.style.height = contentHeight + "px";
  } else {
    banner.style.height = windowHeight + "px";
  }
}

// Appeler la fonction lorsque le DOM est prêt.
document.addEventListener("DOMContentLoaded", function () {
  setPageHeight();

  // Ajouter un écouteur d'événement de redimensionnement pour recalculer la hauteur de la page en cas de redimensionnement de la fenêtre.
  window.addEventListener("resize", setPageHeight);
});

</script>
