<div class="banner banner-beige banner-contact blue">
  <div class="container-contact">

    <div class="get-in-touch-block">
      <div class="left-text">
        <h1>Contactez-nous</h1>
        <p>XXXXXXX</p>
        <div class="phone-block">
        <div class="email-block">
        <div class="web-links">
      </div>
      <div class="right-form">
        <div class="form-container">
          <div class="form-block-2 w-form">
            <form id="wf-form-Contact-Form" name="wf-form-Contact-Form" data-name="Contact Form" method="get" class="form-3" aria-label="Contact Form">
              <div class="contact-form-grid-2">
                <div class="div-block-30">
                  <label for="First-Name-3" id="contact-first-name" class="field-label-contact">Nom<span class="text-span-8">*</span></label>
                  <input type="text" class="text-field-5 w-input" maxlength="256" name="First-Name-2" data-name="First Name 2" placeholder="" id="First-Name-2" required="">
                </div>
                <div class="div-block-31">
                  <label for="Last-Name-3" id="contact-last-name" class="field-label-contact">Company Name <span class="text-span-9">*</span></label>
                  <input type="text" class="text-field-6 w-input" maxlength="256" name="Last-Name-2" data-name="Last Name 2" placeholder="" id="Last-Name-2" required="">
                </div>
                <div class="div-block-32">
                  <label for="Email-6" id="contact-email" class="field-label-contact">Email<span class="text-span-10">*</span></label>
                  <input type="email" class="text-field-7 w-input" maxlength="256" name="Email-4" data-name="Email 4" placeholder="" id="Email-4" required="">
                </div>
                <div class="div-block-33">
                  <label for="Contact-Phone-Number-3" id="contact-phone" class="field-label-contact">Numéro de Téléphone</label>
                  <input type="tel" class="text-field-8 w-input" maxlength="256" name="Contact-Phone-Number-2" data-name="Contact Phone Number 2" placeholder="" id="Contact-Phone-Number-2">
                </div>
                <div class="div-block-34">
                  <label for="Message-2" id="contact-message" class="field-label-contact">Message</label>
                  <textarea data-name="Message 2" maxlength="5000" id="Message-2" name="Message-2" placeholder="Message" class="textarea-2 w-input"></textarea>
                </div>
            </form>
            <div class="success-message w-formdone" tabindex="-1" role="region">
            <div class="error-message-2 w-form-fail" tabindex="-1" role="region"
