<div class="banner banner-gradient banner-expertise white">
  <div class="container-expertise">
    <div class="expertise-header">
      <h1>6 Domaines d'Expertise.</h1>
      <p>Développés par 25 années d'expérience à faire prospérer votre patrimoine</p>
    </div>
    <div class="cards">
      <div class="cards-left">
        <div class="card">
          <h3>Famille</h3>
        </div>
        <div class="card">
          <h3>Entrepreneurs <br>
          & Professions Libérales</h3>
        </div>
        <div class="card">
          <h3>Assistance Administrative</h3>
        </div>
      </div>
      <div class="cards-right">
        <div class="card">
          <h3>Placement</h3>
        </div>
        <div class="card">
          <h3>Emprunt</h3>
        </div>
        <div class="card">
          <h3>Fiscalité</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<%# <script>
  console.log("Le code JavaScript s'exécute ici.");

  // Fonction pour afficher les éléments "hidden" s'ils sont visibles à l'écran
  function handleScroll() {
    var hiddenCards = document.querySelectorAll('.card.hidden');

    hiddenCards.forEach(function(card) {
      var rect = card.getBoundingClientRect();
      if (rect.top < window.innerHeight && rect.bottom >= 0) {
        card.classList.remove('hidden');
      }
    });
  }

  // Ajouter un écouteur d'événements de défilement avec un délai de 100 ms
  var scrollTimeout;
  window.addEventListener('scroll', function() {
    clearTimeout(scrollTimeout);
    scrollTimeout = setTimeout(handleScroll, 100);
  });

  // Appel initial pour gérer les éléments visibles lorsque la page se charge
  handleScroll();
</script> %>
