<div class="banner banner-gradient banner-methodologie white">
  <div class="container">
    <h1 class="title">Une Approche<br>en 2 étapes.</h1>
    <div class="methodologie-1">
      <%# <h2><span class="large-number">1.</span> <sup class="small-text-methodologie">ANALYSER VOTRE SITUATION</sup></h2> %>
      <h2 class="small-text-methodologie">1. ANALYSER VOTRE SITUATION</h2>
      <div class="cards-bilan">
        <div class="card-bilan">
          <div class="icon">
            <i class="fa-solid fa-house fa-2xl" style="color: #ffffff;"></i>
          </div>
          <div class="content">
            <h3>BILAN PATRIMONIAL</h3>
            <div class="content-text">
              <p>Pour étudier la structure de votre patrimoine, les flux de revenus et charges</p>
            </div>
          </div>
        </div>
        <div class="card-bilan">
          <div class="icon">
            <i class="fa-solid fa-piggy-bank fa-2xl" style="color: #ffffff;"></i>
          </div>
          <div class="content">
            <h3>BILAN FISCAL</h3>
            <div class="content-text">
              <p>Pour auditer et valider vos déclarations et l’utilisation de vos outils de défiscalisation :
                dispositifs législatifs, crédits et réductions d’impôt, prélèvements forfaitaires libératoires.
              </p>
            </div>
          </div>
        </div>
        <div class="card-bilan">
          <div class="icon">
            <i class="fa-solid fa-people-roof fa-2xl" style="color: #fcfcfc;"></i>
          </div>
          <div class="content">
            <h3>BILAN SOCIAL</h3>
            <div class="content-text">
              <p>Pour évaluer et diagnostiquer votre niveau de protection et celui de votre famille</p>
            </div>
         </div>
        </div>
        <div class="card-bilan">
          <div class="icon">
            <i class="fa-solid fa-person-cane fa-2xl" style="color: #ffffff;"></i>
          </div>
          <div class="content">
            <h3>BILAN RETRAITE</h3>
            <div class="content-text">
              <p>Pour vous dire pourquoi et comment votre relevé de carrière peut vous éviter de futures erreurs et oublis.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="methodologie-2">
      <%# <h2><span class="large-number">2.</span> <sup class="small-text-methodologie">VOUS CONSEILLER</sup></h2> %>
      <h2 class="small-text-methodologie">2. VOUS CONSEILLER</h2>
      <p>Viens ensuite l’étape difficile qui permet de rapprocher vos besoins et
      les moyens dont vous disposez pour y parvenir. C’est l’écart entre désirs et réalités.<br>
      </br>
      Nous vous remettrons alors vos bilans, nos préconisations et simulations ainsi que la méthode
      pour accomplir sereinement  vos choix et  projets d’investissement.<br>
        </br>
      Nous programmerons alors, si vous le souhaitez, un suivi annuel de mise à jour
      de vos bilans et de nos préconisations accompagnée d’une synthèse de votre  enrichissement.
      </p>
      <p>

      <a href="#"  id="openModalLink">Documents</a>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close list" id="closeModal">&times;</span>
              <ul>
                  <li>Un Document d’Identification et de Connaissance Client relatif à l’objet et la nature de notre relation</li>
                  <li>Un Document d’Entrée en Relation (DER) avec des mentions obligatoires</li>
                  <li>Une lettre de mission comportant les informations sur la nature et modalités de notre prestation, notre rémunération, la fourniture de nos conseils et des informations sur les frais et coûts des investissements conseillés</li>
                  <li>Un recueil d’Information pour collecter vos connaissances et expériences financières, votre tolérance au risque, aux pertes, vos objectifs et votre horizon de placement</li>
                  <li>Un document de déclaration d’adéquation expliquant dans quelle mesure la recommandation est adaptée accompagnée des Documents d’Informations Clés des supports d’investissement</li>
              </ul>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  var buttons = document.querySelectorAll(".faq button");
  const cards = Array.from(document.querySelectorAll('.card-bilan'));

  buttons.forEach(function (button) {
    button.addEventListener("click", function () {
      var clickedButton = this;

      // Ferme toutes les questions ouvertes sauf celle cliquée
      buttons.forEach(function (btn) {
        if (btn !== clickedButton) {
          btn.classList.remove("opened");
          btn.nextElementSibling.style.display = "none";
        }
      });

      // Ajoute ou supprime la classe "opened" au bouton cliqué
      clickedButton.classList.toggle("opened");

      // Affiche ou cache la réponse de la question cliquée
      var panel = clickedButton.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }

      // Display the cards when a button is clicked
      cards.forEach((card, index) => {
        setTimeout(() => {
          card.classList.add('show-card'); // Add animation class
        }, index * 250); // Add a delay for each card
      });
    });
  });

  const firstCard = cards[0];
  const windowHeight = window.innerHeight;

  function handleScroll() {
    const rect = firstCard.getBoundingClientRect();
    const cardHeight = rect.height;

    if (rect.top + cardHeight / 2 <= windowHeight / 2) {
      cards.forEach((card, index) => {
        setTimeout(() => {
          card.classList.add('show-card'); // Add animation class
        }, index * 250); // Add a delay for each card
      });

      // Disable the scroll event listener after displaying the cards
      window.removeEventListener('scroll', handleScroll);
    }
  }

  // Check if the user arrived via the "méthodologie" link in the navbar
  const urlParams = new URLSearchParams(window.location.search);
  const methodologieParam = urlParams.get("methodologie");
  if (methodologieParam === "true") {
    // Directly display the cards
    cards.forEach((card, index) => {
      card.classList.add('show-card'); // Add animation class
    });
  } else {
    // Enable the scroll event listener
    window.addEventListener('scroll', handleScroll);
  }
});

// Obtenez les éléments du DOM
var openModalLink = document.getElementById("openModalLink");
var closeModalButton = document.getElementById("closeModal");
var modal = document.getElementById("myModal");

// Écoutez le clic sur le lien "Documents"
openModalLink.addEventListener("click", function(event) {
  event.preventDefault(); // Empêche le comportement par défaut du lien
  modal.style.display = "block";
});

// Écoutez le clic sur le bouton de fermeture de la modal
closeModalButton.addEventListener("click", function() {
  modal.style.display = "none";
});



// document.addEventListener("DOMContentLoaded", function () {
//   var visionTitle = document.querySelector(".small-text-methodologie");
//   var windowHeight = window.innerHeight;

//   function handleScroll() {
//     var rect = visionTitle.getBoundingClientRect();
//     var titleHeight = visionTitle.offsetHeight;

//     if (rect.top <= windowHeight / 2 && rect.bottom >= windowHeight / 2) {
//       // Le titre est à mi-chemin de la fenêtre.
//       visionTitle.style.transform = 'translateX(0)';
//       visionTitle.style.opacity = 1;
//       window.removeEventListener('scroll', handleScroll);
//     }
//   }

//   // Styles initiaux pour le titre (caché au départ).
//   visionTitle.style.transform = 'translateX(-100%)';
//   visionTitle.style.opacity = 0;

//   // Ajoute un écouteur d'événement de défilement pour appeler la fonction "handleScroll" à chaque défilement.
//   window.addEventListener('scroll', handleScroll);

//   // Déclencher immédiatement si le titre est déjà visible (par exemple, si la page est rechargée en position de défilement au milieu du titre).
//   if (window.scrollY + windowHeight / 2 >= visionTitle.getBoundingClientRect().top) {
//     handleScroll();
//   }
// });
</script>
