<div class="banner banner-gradient banner-methodologie white">
  <div class="container">
    <h1>Une Approche en 2 étapes.</h1>
    <div class="methodologie-1">
      <h2><span class="large-number">1.</span> <sup class="small-text">ANALYSER VOTRE SITUATION</sup></h2>
      <p>Nous analyserons d’abord votre situation au travers d’outils pragmatiques :</p>

      <div class="cards-bilan">
        <div class="card-bilan">
          <div class="icon">
            <i class="fa-solid fa-house fa-2xl" style="color: #ffffff;"></i>
          </div>
          <div class="content">
            <h2>BILAN PATRIMONIAL</h2>
            <div class="content-text">
              <p>Pour étudier la structure de votre patrimoine, les flux de revenus et charges</p>
            </div>
          </div>
        </div>
        <div class="card-bilan">
          <div class="icon">
            <i class="fa-solid fa-piggy-bank fa-2xl" style="color: #ffffff;"></i>
          </div>
          <div class="content">
            <h2>BILAN FISCAL</h2>
            <div class="content-text">
              <p>Pour auditer et valider vos déclarations et l’utilisation de vos outils de défiscalisation :
                dispositifs législatifs, crédits et réductions d’impôt, prélèvements forfaitaires libératoires.
              </p>
            </div>
          </div>
        </div>
        <div class="card-bilan">
          <div class="icon">
            <i class="fa-solid fa-people-roof fa-2xl" style="color: #fcfcfc;"></i>
          </div>
          <div class="content">
            <h2>BILAN SOCIAL</h2>
            <div class="content-text">
              <p>Pour évaluer et diagnostiquer votre niveau de protection et celui de votre famille</p>
            </div>
         </div>
        </div>
        <div class="card-bilan">
          <div class="icon">
            <i class="fa-solid fa-person-cane fa-2xl" style="color: #ffffff;"></i>
          </div>
          <div class="content">
            <h2>BILAN RETRAITE</h2>
            <div class="content-text">
              <p>Pour vous dire pourquoi et comment votre relevé de carrière peut vous éviter de futures erreurs et oublis.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="methodology-2">
      <h2><span class="large-number">2.</span> <sup class="small-text">VOUS CONSEILLER</sup></h2>
      <p>Viens ensuite l’étape difficile qui permet de rapprocher vos besoins et
      les moyens dont vous disposez pour y parvenir. C’est l’écart entre désirs et réalités.
      </br>
      Nous vous remettrons alors vos bilans, nos préconisations et simulations ainsi que la méthode
      pour accomplir sereinement  vos choix et  projets d’investissement.
        </br>
      Nous programmerons alors, si vous le souhaitez, un suivi annuel de mise à jour
      de vos bilans et de nos préconisations accompagnée d’une synthèse de votre  enrichissement.
      </p>
      <p>
      <div class="wrapper">

        <div class="faq-home-container">
          <div class="faq">
            <button class="accordion-home">
              Préalablement à la fourniture de nos conseils, nous vous remettrons les documents ci-dessous
              <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="pannel">
              <ul>
                <li>Un Document d’Identification et de Connaissance Client relatif à l’objet et la nature de notre relation</li>
                <li>Un Document d’Entrée en Relation (DER) avec des mentions obligatoires</li>
                <li>Une lettre de mission comportant les informations sur la nature et modalités de notre prestation, notre rémunération, la fourniture de nos conseils et des informations sur les frais et coûts des investissements conseillés</li>
                <li>Un recueil d’Information pour collecter vos connaissances et expériences financières, votre tolérance au risque, aux pertes, vos objectifs et votre horizon de placement</li>
                <li>Un document de déclaration d’adéquation expliquant dans quelle mesure la recommandation est adaptée accompagnée des Documents d’Informations Clés des supports d’investissement</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  var buttons = document.querySelectorAll(".faq button");

  buttons.forEach(function (button) {
    button.addEventListener("click", function () {
      var clickedButton = this;

      // Ferme toutes les questions ouvertes sauf celle cliquée
      buttons.forEach(function (btn) {
        if (btn !== clickedButton) {
          btn.classList.remove("opened");
          btn.nextElementSibling.style.display = "none";
        }
      });

      // Ajoute ou supprime la classe "opened" au bouton cliqué
      clickedButton.classList.toggle("opened");

      // Affiche ou cache la réponse de la question cliquée
      var panel = clickedButton.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  });

  // Fermez toutes les FAQ lors du chargement de la page
  buttons.forEach(function (button) {
    button.classList.remove("opened");
    button.nextElementSibling.style.display = "none";
  });
});


</script>
