<div class="banner banner-beige banner-vision blue">
  <div class="container-vision">
      <h1>Notre Vision.</h1>
      <div class="container-vision-content">
        <div class="vision-text">
        <p>
        <strong>Conseil en gestion de patrimoine</strong> et <strong>Investissements Financiers</strong>, titulaire d’un master en gestion de patrimoine (AUREP)
        et d'un diplôme supérieur de banque (ITB), je suis professionnel de vos intérêts depuis 1994. <br>
        </br>
        <strong>AMAXAN</strong> bâtit pour chaque client une stratégie sur mesure pour résister aux aléas économique et fiscaux.
        Le cabinet se positionne comme un maitre d’œuvre à forte valeur ajoutée qui s’adresse à une clientèle
        exigeante qui ne trouve plus de solutions ni de conseils auprès de leur interlocuteurs habituels : banques, gestion privée,
        assureurs ou courtiers. <br>
        </br>
        Fédérateur de métiers complémentaires, <strong>AMAXAN</strong> s’adresse à tous quelle que soit la surface patrimoniale
        pour répondre soit à une problématique ponctuelle touchant un élément de son patrimoine, de sa fiscalité
        ou plus largement pour mettre en place une stratégie globale d’enrichissement.
        Véritable service administratif de vos intérêts, j’optimise votre temps et la valeur de votre patrimoine.<br>
        </br>
        </p>
        <em>André Audibert</em>
        </br>
        Fondateur d’AMAXAN
      </div>
      <%= image_tag("andre-henri-audibert.png", alt: "andre-henri-audibert", id: "andre-henri-audibert", style:"width: 450px; height: 500px") %>
    </div>
  </div>
</div>
