<div class="banner-home white">
  <div class="container">
    <h1>Conseil en Gestion de Patrimoine</h1>
     <h1>et Investissements Financiers</h1>
    <a class="button-17" href="#">En savoir plus</a>
  </div>
</div>

<div class="banner banner-beige banner-conseil blue">
  <div class="container">
    <h1>Un conseil en double dimension.</h1>
    <div class="container-conseils">
      <div class="gest-pat">
        <h2>Gestion de Patrimoine</h2>
        <%= image_tag("gest-pat-icon.png", alt: "gest-pat-icon", id: "gest-pat-icon") %>
        <p>XXXXXX</p>
      </div>
      <div class="inv-fin">
        <h2>Investissements Financiers</h2>
        <%= image_tag("inv-fin-icon.png", alt: "inv-fin-icon", id: "inv-fin-icon") %>
        <p>XXXXXX</p>
      </div>
    </div>
     <div class="complementarite-remuneration">
        <div class="complementarite">
          <h3>Complémentarité</h2>
          <p>XXXXXX</p>
        </div>
        <div class="remuneration">
          <h3>Rémunération</h2>
          <p>XXXXXX</p>
         </div>
    </div>
  </div>
</div>

<div class="banner-gradient banner-expertise white">
  <div class="container">
    <h1>6 Domaines d'Expertise.</h1>
    <h3>Développés par 25 années d'expérience à faire prospérer votre patrimoine</h3>
  </div>
  <div class="cards">
    <div class="cards-left">
      <div class="card">
        <h3>Famille</h3>
      </div>
      <div class="card">
        <h3>Entrepreneurs<h3>
        <h3>et Professions Libérales</h3>
      </div>
      <div class="card">
        <h3>Assistance Administrative</h3>
      </div>
    </div>
    <div class="cards-right">
      <div class="card">
        <h3>Placement</h3>
      </div>
      <div class="card">
        <h3>Emprunt</h3>
      </div>
      <div class="card">
        <h3>Fiscalité</h3>
      </div>
    </div>
  </div>
</div>

<div class="banner banner-beige banner-vision blue">
  <div class="container">
    <h1>Notre Vision.</h1>

  </div>
</div>

<div class="banner banner-gradient banner-approche white">
  <div class="container">
    <h1>Une Approche en 2 étapes.</h1>
  </div>
</div>

<div class="banner banner-beige CTA blue">
  <div class="container">
    <h1>Faire grandir et préserver son patrimoine.</h1>
  </div>
</div>
