<div class="banner-home white">
  <div class="container">
    <h1>Conseil en Gestion de Patrimoine</h1>
     <h1>et Investissements Financiers</h1>
    <a class="button-48" href="#">EN SAVOIR PLUS</a>
  </div>
</div>

<%= render "conseil" %>

<%= render "expertises" %>

<%= render "vision" %>

<%= render "approche" %>


<div class="banner banner-beige CTA blue">
  <div class="container">
    <h1>Faire grandir et préserver son patrimoine.</h1>
  </div>
</div>
