<!DOCTYPE html>
<body>
    <div class="banner-expertise entrepreneurs white">
        <div class="container">
            <h1>Assistance Administrative</h1>
        </div>
    </div>

    <div class="banner-intro-expertise blue">
        <div class="container-expertise">
            <div class="container-expertise-content">
               <%= image_tag("labyrinthe.jpg", alt: "labyrinthe", id: "labyrinthe") %>
                <div class="expertise-text">
                   <p>Notre société, nos administrations ne nous laissent plus le choix. Elles nous imposent <strong>« la digitalisation et la dématérialisation » des procédures</strong> par un traitement informatisé systématique de l’ensemble des tâches administratives, par la suppression des guichets et des personnels administratifs. Les mails ont remplacé les courriers, l’ordinateur vos supports papiers. Vous ne trouvez plus de compétences ni d’interlocuteurs fiables.</p>
                  <p>Les pouvoirs publics sont sensibles à cette évolution et à l’incapacité parfois de s’adapter à ces nouvelles règles. Le législateur a souhaité soutenir l’aide à la personne par l’article 199 sexdecies du Code Général des Impôts concernant l’assistance administrative à domicile en attribuant un crédit d’impôt de 50% (CESU) pour les prestations suivantes :</p>

                  <div class="clear">
                    <ul class="list">
                        <li>La correspondance personnelle, courriers, mails…</li>
                        <li>Aide à la gestion des finances personnelles</li>
                        <li>Prestations administratives relatives à la gestion du patrimoine</li>
                        <li>Aide et assistance en matière de déclarations fiscales et sociales</li>
                        <li>Aide à la reconstitution du relevé de carrière avant le départ en retraite</li>
                        <li>Aide et assistance à l’outil informatique, aux logiciels</li>
                    </ul>
                  </div>

                   <div class="clear">
                    <p>AMAXAN a adhéré à la MDSAP (Maison des Services A la Personne) pour vous faire bénéficier de ce crédit d’impôt de 50% pour la réalisation de ces tâches. Demandez un devis.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
