<!DOCTYPE html>
<div class="banner-expertise white">
<div class="container">
  <h1>Politique de cookies</h1>
</div>
</div>

<div class="banner-intro-expertise blue">
  <div class="container-expertise">
      <div class="container-expertise-content">
          <div class="expertise-text">
            <h2>Politique d'utilisation des cookies</h2>
            <p>Les cookies sont de petits fichiers implantés sur votre ordinateur. Un cookie ne nous permet pas de vous identifier mais il enregistre des informations relatives à la navigation de votre ordinateur sur notre site que nous pourrons lire lors de vos visites ultérieures afin de faciliter la navigation, d'optimiser la connexion et de personnaliser l'utilisation du site.</p>

            <p>Vous pouvez refuser l'utilisation des cookies en configurant les paramètres de votre navigateur Internet. Cependant, le fait de refuser les cookies peut vous empêcher d'accéder à certaines fonctionnalités du site.</p>

            <p>L'accès client est construit avec un délai de session, et certaines informations ne seront remises à jour qu'après s'être reconnecté sur le site.</p>

            <p>La SAS AMAXAN ainsi que ses fournisseurs d'informations déclinent toute responsabilité quant au contenu, à l'exactitude, à la fiabilité, à la pertinence et à l'exhaustivité des informations et données diffusées sur le présent site.</p>

            <p>La SAS AMAXAN et ses fournisseurs d'information déclinent toute responsabilité quant aux difficultés techniques que pourraient rencontrer les usagers de ce site, quelles qu'en soient la cause ou l'origine, notamment dans le cas de survenance de "bogues", du non-respect de l'intégrité de l'information à travers les réseaux de communication, de défaut de capacité du terminal de l'utilisateur pour restituer l'information ou de transmission et d'acheminement dans les délais normaux d'ordres du client.</p>

            <p>L'internaute reconnaît que l'utilisation du site est régie par la loi française et relève de la compétence des juges français.</p>

            <p>En cas de contestation sur l'interprétation du contrat, sur l'exécution et la réalisation des transactions, seul le juge français est compétent pour connaître du litige.</p>
</body>
</html>


          </div>
      </div>
  </div>
</div>
