<!DOCTYPE html>
<div class="banner-expertise white">
<div class="container">
  <h1>Politique de cookies</h1>
</div>
</div>

<div class="banner-intro-expertise blue">
  <div class="container-expertise">
      <div class="container-expertise-content">
          <div class="expertise-text">
            <p>XXX COOKIES XXX </p>

          </div>
      </div>
  </div>
</div>
