<!DOCTYPE html>
<div class="banner-expertise white">
<div class="container">
  <h1>Mentions Légales</h1>
</div>
</div>

<div class="banner-intro-expertise blue">
  <div class="container-expertise">
      <div class="container-expertise-content">
          <div class="expertise-text">
            <h1>Mentions Légales</h1>

            <p>La SAS AMAXAN,</p>
            <p>Siège Social : 62 C Chemin de la Moidieu 38330 BIVIERS.</p>

            <p>SAS AMAXAN est une société habilitée à présenter des opérations de :</p>
            <ul class="list">
                <li>Conseil en Investissement Financier (CIF)</li>
                <li>Courtage d’assurance et de réassurance (COA)</li>
                <li>Courtage en opérations de banques et en services de paiement (COBSP)</li>
                <li>D’effectuer des transactions immobilières et fonds de commerce, Carte T Numéro CPI 3801 2020 000 044 290.</li>
            </ul>
            <p class="clear">La SAS AMAXAN est adhérente à la CNCGP (Chambre Nationale des Conseils en Gestion de Patrimoine).
            Elle dispose d’une garantie financière et assurance de responsabilité civile et professionnelle conforme aux articles
            L530-1 et L530-2 du code des assurances souscrite auprès de la compagnie d’assurances MMA Entreprise Police N° 112.786.342 Adhérent 231816.</p>

            <p>La SAS AMAXAN est inscrite au RCS de GRENOBLE sous le N° 814076113 au capital de 100 000€</p>

            <p>Courtier en Assurances de Personnes immatriculé à l'ORIAS sous le n° 20001069 - <a href="http://www.orias.fr">www.orias.fr</a></p>

            <p>Assurance de responsabilité civile professionnelle et garantie financière conformes aux articles R.520-1 et suivants du Code des assurances.</p>

            <p>Le site WEB est hébergé :</p>
            <!-- Inclure les détails d'hébergement du site ici -->

            <h2>Protection des données personnelles</h2>

            <p>Dans le cadre de nos relations professionnelles, nous sommes amenés à collecter, traiter et détenir des informations vous concernant.</p>
            <p>Les données personnelles que vous nous transmettez dans le cadre de notre activité de Conseil en Gestion de Patrimoine et des services que nous vous proposons sont collectées et traitées par André AUDIBERT en qualité de responsable de traitement au sens des dispositions du Règlement Général sur la protection des données personnelles (RGPD).</p>
            <p>Ces données personnelles sont collectées, selon le cas, sur des bases légales différentes (votre consentement, la nécessité contractuelle, le respect d’une obligation légale et/ou encore l’intérêt légitime du Responsable de traitement).</p>
            <p>Concernant vos proches, nous vous remercions de les tenir informés des modalités du présent traitement de leurs données personnelles.</p>
            <p>Les données collectées vous concernant vous et vos proches seront conservées pendant toute la durée de nos relations contractuelles et ensuite en archive pendant un délai de cinq (5) ans, à défaut des délais plus courts ou plus longs spécialement prévus notamment en cas de litige.</p>
            <p>Vous disposez sur ces données d’un droit d'accès, de rectification, et limitation, ainsi que d’un droit d’opposition et de portabilité conformément à la loi. Si vous souhaitez exercer ces droits, vous pouvez nous contacter par mail à : <a href="mailto:audibert.andre38@orange.fr">audibert.andre38@orange.fr</a></p>
            <p>Vous disposez également du droit d'introduire une réclamation auprès de la CNIL.</p>
            <p>Le Client est informé des réglementations concernant la communication marketing, la loi du 21 Juin 2014 pour la confiance dans l’Economie Numérique, la Loi Informatique et Liberté du 06 Août 2004 ainsi que du Règlement Général sur la Protection des Données (RGPD : n° 2016-679). Ce site a été déclaré auprès de la CNIL (Commission Informatiques et Libertés - France) en application de la loi du 06 Janvier 1978 relative à l'informatique, aux fichiers et aux libertés sous le numéro 1528022.</p>

            <!-- Inclure le reste du texte sur la protection des données personnelles ici -->
            <h2>Responsables de la collecte des données personnelles :</h2>
            <p>Pour les Données Personnelles collectées dans le cadre de la création du compte personnel de l’Utilisateur et de sa navigation sur le Site, le responsable du traitement des Données Personnelles est : La SAS AMAXAN représenté par Mr André AUDIBERT son représentant légal</p>
            <p>En tant que responsable du traitement des données qu’il collecte, la SAS AMAXAN s’engage à respecter le cadre des dispositions légales en vigueur. Il lui appartient notamment d’établir les finalités de ses traitements de données, de fournir à ses prospects et clients, à partir de la collecte de leurs consentements, une information complète sur le traitement de leurs données personnelles et de maintenir un registre des traitements conforme à la réalité. Chaque fois que la SAS AMAXAN traite des Données Personnelles, SAS AMAXAN prend toutes les mesures raisonnables pour s’assurer de l’exactitude et de la pertinence des Données Personnelles au regard des finalités pour lesquelles  SAS AMAXAN les traite.</p>

            <h2>Finalité des données collectées</h2>
            <p>La SAS AMAXAN est susceptible de traiter tout ou partie des données :</p>
            <ul class="list">
              <li>pour permettre la navigation sur le Site et la gestion et la traçabilité des prestations et services commandés par l’utilisateur : données de connexion et d’utilisation du Site</li>
              <li>pour prévenir et lutter contre la fraude informatique (spamming, hacking…) : matériel informatique utilisé pour la navigation, l’adresse IP, etc.</li>
              <li>pour améliorer la navigation sur le Site : données de connexion et d’utilisation</li>
            </ul>
            <p class="clear">La SAS AMAXAN ne pourra mener des campagnes de communication (email) : nom, prénom et adresse email commercialisées pas vos données personnelles qui sont donc uniquement utilisées par nécessité ou à des fins statistiques et d’analyses.</p>
            <br>
            <p><strong>Droit d’accès, de rectification et d’opposition</strong></p>
            <p>Conformément à la réglementation européenne en vigueur, les Utilisateurs de SAS AMAXAN disposent des droits suivants :</p>
            <ul class="list">
              <li>droit d'accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à jour, de complétude des données des Utilisateurs droit de verrouillage ou d’effacement des données des Utilisateurs à caractère personnel (article 17 du RGPD), lorsqu’elles sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte, l'utilisation, la communication ou la conservation est interdite</li>
              <li>droit de retirer à tout moment un consentement (article 13-2c RGPD)</li>
              <li>droit à la limitation du traitement des données des Utilisateurs (article 18 RGPD)</li>
              <li>droit d’opposition au traitement des données des Utilisateurs (article 21 RGPD)</li>
              <li>droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces données font l’objet de traitements automatisés fondés sur leur consentement ou sur un contrat (article 20 RGPD)</li>
              <li>droit de définir le sort des données des Utilisateurs après leur mort et de choisir à qui SAS AMAXAN devra communiquer (ou non) ses données à un tiers qu’ils aura préalablement désigné</li>
            </ul>
            <p class="clear">Si l’Utilisateur souhaite savoir comment SAS AMAXAN utilise ses Données Personnelles, demander à les rectifier ou s’oppose à leur traitement, l’Utilisateur peut contacter SAS AMAXAN par écrit à l'adresse suivante :</p>
            <br>
            <p>SAS AMAXAN</p>
            <p>62 C Chemin de la Moidieu</p>
            <p>38330 - BIVIERS</p>
            <p>Dans ce cas, l’Utilisateur doit indiquer les Données Personnelles qu’il souhaiterait que La SAS AMAXAN, mette à jour ou supprime, en s’identifiant précisément avec une copie d’une pièce d’identité (carte d’identité ou passeport). Les demandes de suppression de Données Personnelles seront soumises aux obligations qui sont imposées à la SAS AMAXAN par la loi, notamment en matière de conservation ou d’archivage des documents. Enfin, les Utilisateurs de la SAS AMAXAN peuvent déposer une réclamation auprès des autorités de contrôle, et notamment de la CNIL (<a href="https://www.cnil.fr/fr/plaintes">https://www.cnil.fr/fr/plaintes</a>).</p>
            <p><strong>Non-communication des données personnelles</strong></p>
            <p>La SAS AMAXAN s’interdit de traiter, héberger ou transférer les Informations collectées sur ses Clients vers un pays situé en dehors de l’Union européenne ou reconnu comme « non adéquat » par la Commission européenne sans en informer préalablement le client. Pour autant, La SAS AMAXAN reste libre du choix de ses sous-traitants techniques et commerciaux à la condition qu’il présentent les garanties suffisantes au regard des exigences du Règlement Général sur la Protection des Données (RGPD : n° 2016-679).</p>
            <p>La SAS AMAXAN s’engage à prendre toutes les précautions nécessaires afin de préserver la sécurité des Informations et notamment qu’elles ne soient pas communiquées à des personnes non autorisées. Cependant, si un incident impactant l’intégrité ou la confidentialité des Informations du Client est portée à la connaissance de la SAS AMAXAN celle-ci devra dans les meilleurs délais informer le Client et lui communiquer les mesures de corrections prises. Par ailleurs la SAS AMAXAN ne collecte aucune « données sensibles ».</p>
            <p>Les Données Personnelles de l’Utilisateur peuvent être traitées par des filiales de la SAS AMAXAN et des sous-traitants (prestataires de services), exclusivement afin de réaliser les finalités de la présente politique.</p>
            <p>Dans la limite de leurs attributions respectives et pour les finalités rappelées ci-dessus, les principales personnes susceptibles d’avoir accès aux données des Utilisateurs de la SAS AMAXAN sont principalement les agents de notre service client.</p>
            <p>Le site de la SAS AMAXAN s'adresse aux personnes physiques résidant fiscalement en France. L'internaute reconnaît que le site de la SAS AMAXAN est régi par le droit français.</p>
            <p>L'accès au site de la SAS AMAXAN est soumis à des conditions d'utilisation. En utilisant le site de la SAS AMAXAN, vous acceptez de vous y conformer. La SAS AMAXAN se réserve le droit de mettre à jour à tout moment cette partie et vous invite donc à la consulter régulièrement.</p>

            <h2>Sécurité</h2>
            <p>Les informations accessibles sur le site de souscription ou de consultation, circulent sous forme cryptée sur les réseaux de télécommunication. Il appartient au client d'utiliser tous les moyens de sécurité dont il dispose pour préserver la confidentialité des informations échangées. La SAS AMAXAN ne saurait être tenu pour responsable des conséquences de la divulgation, même involontaire, des informations échangées ou la non utilisation par le client des moyens de sécurité.</p>

            <h2>Liens hypertextes</h2>
            <p>La SAS AMAXAN décline toute responsabilité quant au contenu des informations fournies sur ces sites au titre de l'activation du lien hypertexte.</p>

            <h2>Propriété intellectuelle</h2>
            <p>Ce site ainsi que tous les documents qui en sont extraits sont la propriété intellectuelle de la SAS AMAXAN, de ses partenaires financiers ou des fournisseurs d'informations. Les marques ou raisons sociales citées dans ce site sont strictement protégées dans le cadre du code de la propriété intellectuelle. La reproduction, la transmission à un tiers sous quelque forme que ce soit (à titre gratuit ou onéreux), la suppression, la modification de tout ou partie du contenu de notre site Internet, sont strictement interdites. L'utilisation de toute information publiée sur le site Internet de la SAS AMAXAN (sauf accord de partenariat) dans le cadre d'une activité professionnelle ou commerciale est strictement interdite.</p>

            <p>Tout litige éventuel relève de la compétence exclusive des tribunaux du ressort de la cour d'appel de GRENOBLE.</p>

            <h2>Sécurité</h2>
            <p>Les informations accessibles sur le site de souscription ou de consultation, circulent sous forme cryptée sur les réseaux de télécommunication. Il appartient au client d'utiliser tous les moyens de sécurité dont il dispose pour préserver la confidentialité des informations échangées. La SAS AMAXAN ne saurait être tenue pour responsable des conséquences de la divulgation, même involontaire, des informations échangées ou de la non-utilisation par le client des moyens de sécurité.</p>

            <h2>Liens hypertextes</h2>
            <p>La SAS AMAXAN décline toute responsabilité quant au contenu des informations fournies sur ces sites au titre de l'activation du lien hypertexte.</p>

            <h2>Propriété intellectuelle</h2>
            <p>Ce site ainsi que tous les documents qui en sont extraits sont la propriété intellectuelle de la SAS AMAXAN, de ses partenaires financiers ou des fournisseurs d'informations. Les marques ou raisons sociales citées dans ce site sont strictement protégées dans le cadre du code de la propriété intellectuelle. La reproduction, la transmission à un tiers sous quelque forme que ce soit (à titre gratuit ou onéreux), la suppression, la modification de tout ou partie du contenu de notre site Internet, sont strictement interdites. L'utilisation de toute information publiée sur le site Internet de la SAS AMAXAN (sauf accord de partenariat) dans le cadre d'une activité professionnelle ou commerciale est strictement interdite.</p>

            <p>Tout litige éventuel relève de la compétence exclusive des tribunaux du ressort de la cour d'appel de GRENOBLE.</p>

            <h2>Adresse du médiateur de la CNCGP</h2>

            <h2>Litiges</h2>
            <p>En cas de litige ou de réclamation, les parties s’engagent à rechercher en premier lieu un arrangement amiable.
            Vous pouvez adresser une réclamation à votre conseiller habituel qui disposera de dix jours pour en accuser réception, puis de deux mois, à compter de son envoi, pour y répondre.</p>
            <p>Vous pouvez en second lieu saisir gratuitement un médiateur de la consommation, deux mois après l’envoi d’une première réclamation écrite et au plus tard dans un délai d’un an :</p>
            <ul class="list">
              <li>Pour le conseil en investissements financiers : Le Médiateur de l’AMF, Madame Marielle COHEN-BRANCHE, 17 place de la Bourse - 75082 Paris Cedex 02 ou <a href="https://www.amf-france.org/fr/le-mediateur">https://www.amf-france.org/fr/le-mediateur</a>;</li>
              <li>Pour les autres activités : Centre de Médiation et d’Arbitrage de Paris (CMAP), service médiation de la consommation, 39 avenue Franklin D. Roosevelt 75008 Paris ou <a href="https://www.cmap.fr/consommateurs/">https://www.cmap.fr/consommateurs/</a>.</li>
            </ul>

          </div>
      </div>
  </div>
</div>
