.banner {
  padding: 96px;
  h1 {
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    font-family: $headers-font;
    letter-spacing: 1px;
    text-align: center;
    text-underline-position: auto;
  }
  h2 {
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    font-family: $headers-font;
    letter-spacing: 2.1px;
    text-align: center;
    text-underline-position: auto;
  }
  h2 span{
    font-size: 24px;
  }
}

.banner-home {
  background-image: url(asset_path('checkerboard.png'));
  height: 700px;
  align-items: center;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  position: relative;
  h1 {
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    font-family: $headers-font;
    letter-spacing: 1px;
    text-align: left;
  }
}

.banner-content {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-conseil {
  height: 1300px;
  h3 {
    font-weight: bold;
    font-size: 18px;
    font-family: $headers-font;
    letter-spacing: 2.1px;
    text-align: center;
    text-underline-position: auto;
  }
}

.banner-expertise {
  padding-left: 0;
  padding-right: 0;
  p {
    align-items: center;
    font-size: 18px;
    font-family: $headers-font;
    text-align: center;
    text-underline-position: auto;
    padding-top: 10px;
  }

}

.banner-vision {
  height: 850px;
}

.banner-gradient {
  background: linear-gradient($blue-pastel, $pink-pastel);
}

.banner-approche {
  height: 1400px;
}

.CTA {
  height: 400px;
}

.white {
  color: white;
}

.blue {
  color: $blue;
}

.banner-beige {
  background-color: rgba(131, 109, 109, 0.11);
}
