.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.cards-left,
.cards-right {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.cards-right {
  padding-top: 65px;
}

.cards-left {
  padding-top: 65px;
}

.card {
  background-color: white;
  color: $blue; /* Utilisation de la couleur blue directement */
  font-size: 10px;
  font-weight: 500;
  height: 65px;
  width: 640px;
  margin: 0;
  text-transform: uppercase;
  border-radius: 0 !important;
  text-align: center; /* Centrer le texte horizontalement */
}

.card h3 {
  font-size: 16px;
  font-weight: bold;
  font-family: $headers-font; /* Assurez-vous que la variable $headers-font est définie */
  padding-top: 10px;
  letter-spacing: 1px;
}

/* Réinitialisation des marges et paddings par défaut pour tous les éléments h3 */
h3 {
  margin: 0;
  padding: 0;
}

.cards-bilan {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding-left: 150px;
  padding-right: 150px;
}

.card-bilan {
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 5px;
  margin: 0;
  padding: 30px;
  text-align:justify;
  width: 380px;
  h2 {
    font-size: 18px;
    margin: 0;
  }
  p {
    font-size: 16px;
    margin: 10px 0;
  }
}
