@media screen and (min-width: 1025px) {

  .container-fluid {
    padding: 0;
  }

  .container {
    animation-direction: normal;
    animation-delay: 1s;
    // padding-left: 96px;
  }

  .container-expertise-home {
    padding-left:0;
    padding-right:0;
    margin:0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  .container-fluid {
    padding: 0;
  }

  .container-home {
    animation-direction: normal;
    animation-delay: 1s;
    padding-left: 96px;
  }

  .container {
    animation-direction: normal;
    animation-delay: 1s;
    padding-left: 96px;
  }

  .container-expertise-home {
    padding-left:0;
    padding-right:0;
    margin:0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 20px; /* Adjust padding for iPhone 12 */
  }
}
