@media screen and (min-width: 1025px) {
  .container-fluid {
    padding: 0;
  }

  .container {
    animation-direction: normal;
    animation-delay: 1s;
  }

  .container-expertise-home {
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container-fluid {
    padding: 0;
  }

  .container-home,
  .container {
    animation-direction: normal;
    animation-delay: 1s;
    padding-left: 96px;
  }

  .container-expertise-home {
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .banner-home .container {
   margin: 0;
  }
}
