* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $body-font; /* Utilisez la police Roboto depuis Google Fonts */
}

.banner-expertise {
  background-image: url(asset_path('checkerboard.png'));
  height: 233px;
  align-items: center;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  position: relative;
  h1 {
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    font-family: $headers-font;
    letter-spacing: 1px;
    text-align: left;
  }
}

.banner .expertise-text h3 {
  clear: both;
}

.banner-intro-expertise {
  padding-top: 48px;
  padding-left: 96px;
  padding-right: 96px;
  padding-bottom: 96px;
  h1 {
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    font-family: $headers-font;
    letter-spacing: 1px;
    text-align: center;
  }
  h2 {
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    font-family: $headers-font;
    letter-spacing: 1px;
    text-align: center;
  }
  h3 {
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    font-family: $headers-font;
    letter-spacing: 1px;
    text-align: left;
    padding-top: 20px;
  }
}

.container-expertise-content {
  display: flex;
  margin: 0;
}

.expertise-text {
  margin: 0;
  text-align: justify;
}

.title-expertise {
  background-color: white;
  height: 96px;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  display: flex;
  text-align: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 96px; /* Réglez la hauteur en fonction de votre bannière */
  z-index: 100; /* Au-dessus de la bannière d'accueil */
}

/* Ajoutez une règle media query pour les écrans de taille moyenne */
@media (max-width: 1024px) {
  .banner-expertise {
    background-size: contain;
    padding: 10px;
    text-align: center;
    height: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    position: relative;
  }

  .banner-expertise h1 {
    font-size: 24px;
  }

  .banner-intro-expertise {
    padding: 24px;
  }

  .banner-intro-expertise h1 {
    font-size: 24px;
  }

  .banner-intro-expertise h2 {
    font-size: 20px;
  }

  .banner-intro-expertise h3 {
    font-size: 18px;
    padding-top: 10px;
  }

  .container-expertise {
    padding: 24px;
  }
  /* Réglez les styles pour les écrans de taille moyenne ici */
}

/* Le reste de votre code CSS reste inchangé */

@media (max-width: 768px) {
  .banner-expertise {
    background-size: contain;
    padding: 10px;
    text-align: center;
    height: 120px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    position: relative;
    }

  .banner-expertise h1 {
    font-size: 24px;
  }

  .banner-intro-expertise {
    padding: 0;
  }

  .banner-intro-expertise h1 {
    font-size: 24px;
  }

  .banner-intro-expertise h2 {
    font-size: 20px;
  }

  .banner-intro-expertise h3 {
    font-size: 18px;
    padding-top: 10px;
  }

  .container-expertise {
    margin: 32px;
  }
}
