* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $body-font; /* Utilisez la police Roboto depuis Google Fonts */
}

.wrapper {
  max-width: 75%;
  margin: auto;
  margin-top: 48px;
}

.title-FAQ {
  margin-top: 48px;
  margin-bottom: 48px;
  h1 {
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    font-family: $headers-font;
    letter-spacing: 1px;
    text-align: center;
    color: $blue;
  }
}

.accordion {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 1.5rem 2.5rem;
  border: none;
  outline: none; /* Transition pour le fond et la couleur du texte */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

/* Applique le dégradé lors du survol */
.accordion:hover {
  background: linear-gradient($blue-pastel, $pink-pastel);
  color: white;
}

/* Applique une classe pour le fond gris */
.accordion.gray-bg {
  background: #f5f5f5;
  color: rgba(0, 0, 0, 0.8);
}

.accordion i {
  font-size: 1.6rem;
}

.accordion.opened {
  background: linear-gradient($blue-pastel, $pink-pastel);
  color: white;
}

.accordion.open + .pannel {
  background-color: white;
}

.pannel {
  padding: 2rem 2rem 2rem;
  overflow: hidden;
  display: none;
}

.pannel p {
  color: black;
  font-family: $body-font;
  text-align: justify;
  font-size: 16px;
}

.faq {
  border: none;
  margin: 10px 0;
}

.faq.open {
  border: none;
  background-color: white;
}

.open {
  background: linear-gradient($blue-pastel, $pink-pastel);
  color: white; /* Pour changer la couleur du texte en blanc lorsque la question est ouverte */
}
