.footer {
  background-color: white;
  display: flex;
  justify-content: center; /* Modification de la valeur */
  align-items: center;
  padding: 0;
  margin: 0 96px;
  /* Supprimez la ligne suivante pour permettre au footer de suivre le flux du contenu */
  /* position: absolute; */
  width: 100%;
  height: 192px;
}

.footer p {
  color:$blue; /* Couleur bleue */
  font-size: 16px;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0 10px;
}

.footer-links a:hover {
  opacity: 1;
}
