
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media screen and (max-width: 1170px) {

  .sidebar {
    // position: fixed;
    width: 20%;
    height: 100vh;
    background: #000000;
    font-size: 0.65em;
    float: left;
  }

  .mt-sidebar {
    margin-top: 0.80rem;
  }

  .nav {
    position: relative;
    margin: 0 5%;
    text-align: right;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav ul {
    list-style: none;
    margin-bottom: 6rem;

    li {
      position: relative;

      a {
        line-height: 5em;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.4em;
        color: rgba(255, 255, 255, 0.35);
        display: block;
        transition: all ease-out 300ms;
      }

      &.active a {
        color: white !important;
      }

      &:not(.active)::after {
        opacity: 0.2;
      }

      &:not(.active):hover a {
        color: rgba(255, 255, 255, 0.75);
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.2em;
        background: black;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(to right, #5e42a6, #b74e91);
      }
    }
  }
}

@media screen and (max-width: 1170px) {

$bezier: cubic-bezier(0.75, 0, 0.25, 1);

.menu {
  color: white;
  &__trigger-finger {
    // The visible part of the trigger, this will be your "nav is closed!"-state
    position: fixed;
    top: 7px;
    right: 14px;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 15px;
    height: 13px;
    margin: 25px;
    color: white;
    &::before {
      content: '';
      position: absolute;
      top: -5px;
      left: -5px;
      bottom: -5px;
      right: -5px;
      background: $blue;
      opacity: 0;
      z-index: -1;
      transition: opacity 0.3s $bezier;
    }
    span {
      display: block;
      width: 100%;
      height: 2px;
      transition: transform 1s $bezier;
      background: currentColor;
      &::before,
      &::after {
        // Create the hamburger lines
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        display: block; // Labels are inline elements, it needs a display property that allows it it's own set height like block;
        height: 2px;
        background: currentColor; // inherits color set on parent
        transition: transform 0.4s $bezier, top 0.4s 0.4s $bezier, background 0.2s $bezier;
      }
      &::before {
        top: 0;
      }
      &::after {
        top: calc(100% - 2px);
      }
    }
  }
  &__trigger-input, &__submenu-trigger-input {
    // We  want to make the input invisible without using display: none;, because that will remove functionality.
    opacity: 0;
    width: 0;
    height: 0;
    appearance: none;
    position: fixed;
  }
  &__trigger-input {
    &:focus {
      & + label {
        color: white;
        &::before {
          opacity: 1;
        }
      }
    }
    &:checked {
      & + label {
        // change the label if the input is checked, this will be your "nav is open! 🎉"-state
        height: 10px;
        color: white;
        span {
          transform: rotate(45deg);
          &::before, &::after {
            top: calc(50% - 1px);
            transition: transform 0.4s 0.4s $bezier, top 0.4s $bezier, background 0.2s $bezier;
          }
          &::after {
            transform: rotate(90deg);
          }
        }
      }
      & ~ ul {
        // We use a general sibling because it's less work, + label + ul would work as well
        z-index: 9;
        transform: none;
        transition: 0.5s $bezier;
      }
    }
  }
  &__list {
    // we want to make the top navigation items not visible while the input is not :checked.
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    z-index: -1;
    font-size: 4rem;

    padding: 40px;
    transform: translate(100vw) rotate(45deg);
    transition: 0.2s $bezier;

    background: none; // Set the initial background to none

    .menu__trigger-input:checked ~ & {
      background: $blue; // Apply background when the navigation menu is open
    }
  }
  &__item {
    list-style: none;
    & + & {
      margin-top: 20px;
    }
  }
  &__submenu-trigger-input {
    &:checked {
      & + label::after {
        transform: translateY(10px);
      }
      & ~ ul {
        display: block;
      }
    }
    &:focus {
      & + label::after {
        transform: translateY(5px);
      }
    }
  }
  &__link {
    text-decoration: none;
    color: inherit;
  }
  &__list-child {
    display: none;
    font-size: 2rem;
    margin-top: 10px;
    padding-left: 2rem;
  }
}

main {
  padding: 6rem 4rem;
  h1 {
    font-size: 3rem;
    font-weight: normal;
    span {
      color: $blue;
    }
  }
  p {
    line-height: 1.5;
    margin-top: 1.5rem;
  }
}
}
