#family {
  max-height: 600px;
  max-width: 400px;
  float: right;
  margin-left: 25px;
}

#palmiers {
  max-height: 450px;
  max-width: 300px;
  float: right;
  margin-left: 25px;
}

#buildings-purple {
  max-height: 600px;
  max-width: 400px;
  float: left;
  margin-right: 25px;
}
