@media screen and (min-width: 768px) {
#family, #retraite, #fusee, #impots, #foret, #chantier {
  // max-height: 600px;
  // max-width: 400px;
  max-height: 100%;
  max-width: 40%;
  float: left;
  margin-right: 25px;
}

#palmiers, #alpinisme {
  max-height: 450px;
  max-width: 300px;
  float: right;
  margin-left: 25px;
}

#profil, #buildings-purple {
  max-height: 400px;
  max-width: 350px;
  float: right;
  margin-left: 25px;
}

#labyrinthe {
  max-height: 500px;
  max-width: 40%;
  float: left;
}
}
