ul.list {
  list-style-type: none;
  padding-left: 0;
}

ul.list li {
  margin-bottom: 8px;
  margin-left: 20px;
  // margin-right: 20px;
  clear: left;
  text-indent: -20px;
}

ul.list li::before {
  content: '\25A0';
  font-size: 18px;
  margin-right: 10px;
}

.clear {
clear: both;
margin: 0; /* Add this line to remove margin */
padding: 0;
}
