.methodologie-1 {
  margin-left: 15%;
  margin-right:15%;
  margin-top: 36px;
  h2 {
    text-align: left;
    font-size: 24px;
  }
}

.methodologie-2 {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 36px;
  h2 {
    text-align: left;
    font-size: 24px;
  }
  p {
    margin-top: 64px;
    text-align: justify;
    text-align: left;
  }
}

.large-number {
  font-size: 50px; /* Modifiez cette valeur selon la taille de police souhaitée */
  h2 span{
    font-size: 36px;
  }
}

// .small-text-methodologie {
//   font-size: 36px; /* Modifiez cette valeur selon la taille de police souhaitée pour le texte superposé */
//   // position: relative;
//   // top: -20px;
//   // left: -19px;/* Ajustez cette valeur pour régler la position verticale du texte superposé */
// }
