.navbar {
  background-color: white;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 !important;
}

/* Style the container within the navbar */
.container-navbar {
  max-width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Style the navigation menu */

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-decoration: none;
}

li {
  color: $blue;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: $blue;
  font-weight: 600;
}

li:hover,
li:focus-within {
  cursor: pointer;
  text-decoration: none;
}

li:focus-within a {
  outline: none;
  text-decoration: none;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
  text-decoration: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
   text-decoration: none;
}

ul li ul li {
  clear: both;
  width: 100%;
}
