.navbar {
  background-color: white;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 !important;
  margin-left: 96px;
  margin-right: 96px;
}

.navbar ul li a:hover {
  text-decoration: none; /* Remove underline */
  background-color: $blue;
  color: white; /* Change text color on hover to your desired color */
}

/* Style the container within the navbar */
.container-navbar {
  max-width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.desktop-menu {
  margin: 0;
}

.dropdown-menu {
  border: 2px solid $blue; /* Replace "YourBorderColor" with your desired border color */
  border-radius: 5px; /* Optional: Add rounded corners to the border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle effect */
}
/* Style the navigation menu */

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: $blue;
  display: block;
  float: left;
  padding-left: 40px;
  position: relative;
  text-decoration: none !important; /* Supprime la décoration du texte */
  transition-duration: 0.5s;
}

li a {
  color: $blue;
  font-weight: 600;
  text-decoration: none;
}

li:hover,
li:focus-within {
  cursor: pointer;
  /* text-decoration: none; Ne pas réappliquer la décoration du texte ici */
}

li:focus-within a {
  outline: none;
  text-decoration: none !important; /* Supprime la décoration du texte */
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
  padding: 1rem;
}
