


@media screen and (max-width: 768px) {

  .navbar {
    background-color: white;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
    margin-left: 36px;
    margin-right: 36px;
  }
}
