@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media screen and (max-width: 1170px) {

  .sidebar {
    // position: fixed;
    width: 20%;
    height: 100vh;
    background: #000000;
    font-size: 0.65em;
    float: left;
  }

  .mt-sidebar {
    margin-top: 0.80rem;
  }

  .nav {
    position: relative;
    margin: 0 5%;
    text-align: right;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav ul {
    list-style: none;
    margin-bottom: 6rem;

    li {
      position: relative;

      a {
        line-height: 5em;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.4em;
        color: rgba(255, 255, 255, 0.35);
        display: block;
        transition: all ease-out 300ms;
      }

      &.active a {
        color: white !important;
      }

      &:not(.active)::after {
        opacity: 0.2;
      }

      &:not(.active):hover a {
        color: rgba(255, 255, 255, 0.75);
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.2em;
        background: black;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(to right, #5e42a6, #b74e91);
      }
    }
  }
}
