    <div class="banner-expertise white">
      <div class="container">
        <h1>Retraite</h1>
      </div>
    </div>

    <div class="banner-intro-expertise blue">
        <div class="container-expertise">
            <div class="container-expertise-content">
                <%= image_tag("retraite.png", alt: "retraite", id: "retraite") %>
                <div class="expertise-text">
                
                </div>
            </div>
        </div>
    </div>
