    <div class="banner-expertise white">
      <div class="container">
        <h1>Retraite</h1>
      </div>
    </div>

    <div class="banner-intro-expertise blue">
        <div class="wrapper-expertise">
            <div class="container-expertise-content">
                 <%# <%= image_tag("foret.png", alt: "foret", id: "foret") %>
                <div class="expertise-text">
                  <p>La retraite se compose de deux phases distinctes.</p>
                    <h1 class="retraite">1. LA CONSTITUTION DE SA RETRAITE</h1>
                    <br>
                    <p>AMAXAN privilégie 2 supports :</p>
                    <ul class="list">
                        <li>LE PLAN D’EPARGNE RETRAITE</li>
                        <li>LE DEMEMBREMENT DE PARTS DE SCPI</li>
                    </ul>
                  </div>
                </div>
                <div class="container-expertise-content">
                 <div class="expertise-text clear">
                    <%# <%= image_tag("foret.png", alt: "foret", id: "foret") %>
                    <h2>LE PLAN D’EPARGNE RETRAITE</h2>
                    <p>Bien préparer sa retraite pour conserver son pouvoir d’achat, demeure incontournable dans une stratégie patrimoniale réussie.
                    Plus vous débuterez tôt, moins l’effort pour atteindre le niveau de remplacement de vos revenus d’actifs sera important
                    et la performance de votre épargne valorisée.</p>
                    <p>Parmi tous les supports d’épargne retraite, celui qui est à privilégier est le Plan d’Epargne Retraite (PER).</p>

                    <h3>Qu’est-ce que le plan épargne retraite (PER) ?</h3>
                    <p>Le Plan Épargne Retraite (PER) est un produit d’épargne qui permet de se constituer, au fil du temps, une épargne retraite tout en réduisant sa pression fiscale actuelle selon votre avis d’impôt.</p>

                    <h3>Pourquoi souscrire à un PER ?</h3>
                     <ul class="list">
                        <li>Une fiscalité avantageuse sur l’épargne</li>
                        <li>Une portabilité de l’épargne simplifiée</li>
                        <li>Une possibilité de sortie en capital et des conditions de déblocage anticipé élargies</li>
                    </ul>
                    <p class="clear"><strong>Exemple de défiscalisation Plan Épargne Retraite</strong></p>
                    <p>En 2021, vous déclarez un revenu imposable de 35 000 €, vous vous situez dans une tranche marginale d’imposition de 30 %.</p>


                     <h3>Les 3 types de PER </h3>


                    <h3>Les 6 cas de déblocage anticipé avant la retraite </h3>
                    <ul class="list">
                        <li>Invalidité, décès de l’époux ou du partenaire de PACS</li>
                        <li>Expiration des droits aux allocations chômage</li>
                        <li>Surendettement</li>
                        <li>Cessation d’activité non salariée à la suite d’un jugement de liquidation judiciaire</li>
                        <li>PER inférieur à 2 000 € sous certaines conditions</li>
                        <li>Acquisition de la résidence principale (loi Pacte) : ne vaut pas pour les sommes issues des versements obligatoires</li>
                    </ul>

                    <h3 class="clear">Quelle fiscalité pour un déblocage anticipé?</h3>
                    <p>Lors d’un déblocage anticipé, la sortie du PER se fait obligatoirement en capital.
                    Des taxes s’appliquent alors sur les versements volontaires et les versements issus de l’épargne salariale.
                    Toutefois, elles dépendent de la fiscalité appliquée au moment des versements.</p>

                     <h3>Quelles sont les options de sortie du PER? </h3>
                    <p>À la liquidation d’au moins un des régimes de retraite obligatoires, il est possible de récupérer son épargne de plusieurs façons :</p>
                    <ul class="list">
                        <li><strong>En capital</strong> : en totalité ou de manière fractionnée, sauf en cas de versements obligatoires</li>
                        <li><strong>En rente</strong> : avec 5 options de rente (rente classique, réversion de la rente, rente majorée, rente progressive, rente avec annuités garanties)</li>
                        <li><strong>Un mix</strong> de rente et de capital</li>
                    </ul>

                    <h3 class="clear">Portabilité du PER</h3>
                    <p>Alors que les anciens produits épargne étaient directement rattachés à une catégorie socioprofessionnelle, il n’était pas possible de transférer son produit d’épargne d’un gestionnaire à un autre lors d’un changement d’entreprise ou de reconversion professionnelle. Grâce à la portabilité, vous pouvez désormais changer de gestionnaire et transformer votre PERI en PERCO ou PERCAT en fonctions de vos besoins. Ainsi, le PER est mieux adapté à votre parcours professionnel.</p>

                    <h3 class="clear">En cas de décès de l’épargnant, à qui revient l’épargne investie dans le plan
                    et quelle est la fiscalité appliquée ?</h3>

                    <h2 class="clear">LE DEMEMBREMENT DE PARTS DE SCPI</h2>

                    <h3>Le démembrement de SCPI : Acquérir la Nue-Propriété</h3>

                    <p><strong>Qu’est-ce que le démembrement de propriété d’une SCPI ?</strong></p>
                    <p>Une SCPI est constituée d’une pleine propriété. La pleine propriété se compose de tous les droits qu’une personne dispose sur un bien :</p>
                      <ul class="list">
                          <li>L’Usus est le droit d’utiliser le bien, de l'habiter, de le transporter</li>
                          <li>L’Abusus est le droit de détenir le bien : le vendre, le louer, le donner ou le détruire</li>
                          <li>Le Fructus est le droit de percevoir les fruits du bien, les loyers, les intérêts.</li>
                      </ul>
                      <p class="clear">La pleine propriété est l’addition de la Nue-Propriété et de l’Usufruit. Elle peut être divisée.
                      Le Nue-propriétaire détient une partie de la propriété : l’Abusus. Il possède le bien mais il ne
                      peut pas l’utiliser et ne perçoit aucun revenu de cette nue-propriété.
                      Il récupérera l’Usufruit au terme de la période et redeviendra plein propriétaire.
                      L’Usufruitier ne possède pas le bien. Il ne possède que le Fructus,
                      le droit de percevoir les revenus pendant la période déterminée de l’Usufruit.
                      Au terme il perd ses droits qui reviennent au nue-propriétaire.</p>

                    <p><strong>Les avantages et inconvénients de la Nue-Propriété?</strong></p>
                      <div class="list-container">
                        <ul class="list">
                          <p><strong>AVANTAGES</strong></p>
                          <li>Le prix des parts est minoré de la valeur de l’Usufruit</li>
                          <li>Aucune fiscalité (IFI, revenus fonciers)</li>
                          <li>Récupération de l’Usufruit sans frais</li>
                          <li>Le potentiel de plus-values et de revalorisation est le même que pour une pleine propriété.</li>
                        </ul>
                          <ul class="list">
                            <p class="clear"><strong>INCONVÉNIENTS</strong></p>
                            <li>Absence de revenus pendant toute la durée de la Nue-Propriété</li>
                            <li>Risque de perte en capital pendant la période de démembrement en cas de revente.</li>
                          </ul>
                      </div>

                    <h3 class="clear">Le démembrement de SCPI : Acquérir l’Usufruit</h3>

                    <p><strong>Les avantages et inconvénients de l'Usufruit?</strong></p>
                    <div class="list-container">
                      <ul class="list">
                        <p><strong>AVANTAGES</strong></p>
                        <li>Perception de 100% des revenus de la pleine propriété pendant toute la durée du démembrement.</li>
                        <li>L’acquisition du parts à prix minoré (valeur de l’usufruit).</li>
                        <li>Un investissement sans contrainte ni souci de gestion.</li>
                      </ul>
                      <ul class="list">
                       <p class="clear"><strong>INCONVÉNIENTS</strong></p>
                          <li>Pas de revente possible au terme.</li>
                          <li>Risque de perte en capital.</li>
                          <li>Pas de récupération de la pleine propriété.</li>
                          <li>Une lourde fiscalité (IFI, Revenus fonciers, prélèvements sociaux).</li>
                      </ul>
                    </div>
            
          <h1 class="clear">2. LA "LIQUIDATION" DE SA RETRAITE</h1>

          <h3>Qu’est-ce que la liquidation ?</h3>
          <p>La liquidation consiste à « Faire valoir ses droits à la retraite » afin de pouvoir les percevoir à la date de son choix au moins 5 mois avant la date d’effet souhaitée.</p>

          <h3>Qu’est-ce que la «notification de retraite» ou «titre de retraite»</h3>
          <p>C’est le titre du document officiel qui valide pour chaque Caisse de Retraite le calcul et la notification des droits définitifs de l’assuré, après de nombreux contrôles et questionnaires.</p>

          <h3>Comment effectuer sa liquidation de retraite ?</h3>
          <p>Il est préconisé d’utiliser la «DEMANDE UNIQUE DE RETRAITE» en ligne. Mais il est toujours possible de déposer le formulaire papier ou effectuer les démarches individuellement auprès de chaque Caisse.</p>

          <h3>Quels délais ?</h3>
          <p>Le délai de 5 mois est une préconisation car dans les faits la retraite s’obtient au plus tôt :</p>
          <ul class="list">
              <li>Le 1er jour du mois qui suit la réception du dossier de demande de retraite pour la plupart des régimes</li>
              <li>Le 1er jour du trimestre civil qui suit la réception du dossier de demande de retraite pour les professions libérales.</li>
          </ul>
          <p class="clear">Cependant le délai de traitement dans les caisses peut prendre plusieurs mois. Si le dossier n’a pas été déposé suffisamment tôt. Mais droits seront rétroactifs. Il est possible également de dissocier les différents régimes. C’est pourquoi il n’y a pas une retraite mais autant de virement qu’il y a de régime.</p>

          <h3>Pourquoi AMAXAN propose cette mission ?</h3>
          <p>Le temps de nos clients est précieux et le sujet complexe. Les démarches sont longues, entre 2 et 8 mois…
          La digitalisation des procédures rend la démarche encore plus complexe. L’époque où le ou la future retraité(e) prenait
          rendez-vous avec sa caisse de retraite est révolue. Appeler le 3901 vous serez orienté vers les plateformes qui invitent à
          procéder aux démarches en ligne. Nombreux(ses) sont ceux ou celles qui sont « allergiques » à l’administratif et aux procédures en ligne !
          Les honoraires sont déductibles des revenus personnels (article … du CGI)
          </p>
          <p>Les clients sont dans l’attente
          d’une prise en charge administrative mais aussi attendent de connaître le mode de calcul des retraites car de
           nombreuses erreurs peuvent subsister et ainsi le retraité sera perdant à vie.
          </p>
          <p>
           Notre rôle est pédagogique.
          </p>
          <p>
           Nos clients sont rassurés  qu’un professionnel prenne les contacts nécessaires.
          </p>
          <p>
          Nos clients sont rassurés qu’un
          professionnel contrôle les notifications de retraite.
          </p>
          <p>
          Nos clients sont rassurés qu’un professionnel leur fassent
          gagner du temps et de la sérénité.
          </p>

      </div>
  </div>
  </div>
</div>
