<!DOCTYPE html>
<body>
    <div class="banner-expertise entrepreneurs white">
        <div class="container">
            <h1>Impôts</h1>
        </div>
    </div>

    <div class="banner-intro-expertise blue">
        <div class="wrapper-expertise">
            <div class="container-expertise-content">
                 <%= image_tag("impots.jpg", alt: "impots", id: "impots") %>
                <div class="expertise-text">
                    <p>
                      S’il est coupable d’agir exclusivement pour bénéficier d’un avantage fiscal, il est légitime de rechercher les voies fiscales les moins imposées au sein des dizaines de niches fiscales.
                    </p>
                    <p>
                      La règle fiscale est une contrainte subie qui nuit à l‘optimisation des objectifs patrimoniaux. Elle doit être connue pour ne pas payer plus que l’on ne doit.
                    </p>
                    <p>
                      Elle connaît des exceptions qui peuvent s’avérer pernicieuses si elles sont vues comme des objectifs.
                    </p>

                    <h3>Pourquoi et comment utiliser votre portail IMPOTS.GOUV ?</h3>
                    <p>
                    La généralisation par l’état de la gestion de vos impôts par l’intermédiaire du site IMPOT.GOUV.FR a réduit le risque d’erreur déclaratif et rationalisé la gestion de vos impôts.
                    Toutefois, son utilisation n’est pas toujours simple pour en tirer le meilleur parti et suggérer les économies fiscales.
                    </p>
                    <p>
                    Désormais, gérer ces impôts tout au long de l’année est un impératif pour adapter les prélèvements ou gérer l’IFU.
                    Nos interventions montrent l’importance d’une réelle expertise fiscale pour déclarer les revenus sans risque d’erreur et assurer un suivi notamment en matière de revenus fonciers.
                    </p>
                    <p>
                    Chaque contribuable dispose de niches fiscales dans lesquelles il peut s’enrichir, à nous de trouver celles qui le concernent.
                    <p>
                    <h3>Pourquoi AMAXAN est indispensable en matière fiscale ?</h3>
                    <p>Chaque stratégie d’investissement proposée par AMAXAN va intégrer la notion de gain fiscal dans les supports de défiscalisation à votre disposition.
                        Voilà la raison essentielle de notre présence à vos côtés et de votre demande d’assistance auprès de notre cabinet.
                    </p>
                    <p>Cette démarche sera forcément gratifiante en termes financiers.
                      Rappelons qu’AMAXAN a adhéré à la MDSAP pour faire bénéficier ses clients du crédit d’impôts de 50% généré par l’article 199 sexdecies du CGI dans la rubrique Aide et Assistance en matière fiscale et sociale.
                    </p>
                   </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
